<template>
    <div class="admin-page">
        <PageTitle main="Administration" sub="Settings" icon="cog"
            :img="require('@/assets/abstract-grey-scale.png')" :imgTiny="require('@/assets/abstract-grey-scale-tiny.png')" />
        <div class='admin-page-tabs'>
            <v-tabs v-model="tab" class="elevation-2"
                icons-and-text>
                <v-tabs-slider></v-tabs-slider>

                <v-tab @click="setContent('news'); tableTitle='News'; setTabPath(1)"
                    active-class="admin-tab-active">News <v-icon>mdi-newspaper</v-icon></v-tab>
                <v-tab @click="setContent('events'); tableTitle='Events'; setTabPath(2)"
                    active-class="admin-tab-active">Events <v-icon>mdi-calendar</v-icon></v-tab>
                <v-tab @click="setContent('categories'); tableTitle='Categories'; setTabPath(3)"
                    active-class="admin-tab-active">Categories <v-icon>mdi-format-list-bulleted</v-icon></v-tab>

                <v-tab-item v-for="item in 3" :key="item.id">
                    <DataTable :tableTitle='tableTitle' :headers="[]"
                        :items='[]' :loading='false' toolbarColor='blue darken-2'
                        @buttonClick="setPath(current !== 'news' ? (current === 'events' ?
                            '/events/management' : '') : '/news/management');
                            if(current === 'categories') callCategoryCard();"
                        buttonTitle='New' buttonIcon='mdi-plus-circle' iconColor='white' />
                </v-tab-item>
            </v-tabs>
            <DeleteCard v-if="dialogState" :item="cardDelete" :showDialog="dialogState"
                @confirm="confirmDelete($event)" :cardType="current" />
            <CategoryManagement v-if="categoryDialog" @confirm="confirmCategoryCreation($event)" :category="category" />
            <Snackbar v-if="callSnackbar" :call="callSnackbar" callText="Operation successfully completed!" callColor="success" />
        </div>
    </div>
</template>

<script>
    import PageTitle from "../molecules/PageTitle";
    import DataTable from '../molecules/DataTable';
    import DeleteCard from "../organisms/DeleteCard";
    import CategoryManagement from "../organisms/CategoryManagement";
    import Snackbar from "../molecules/Snackbar";

    export default {
        name: "AdminPageTemplate",
        components: { PageTitle, DataTable, DeleteCard, CategoryManagement, Snackbar },
        data() {
            return {
                tab: 0,
                tableTitle: "News",
                content: [],
                current: "",
                url: "",
                dialogState: false,
                categoryDialog: false,
                callSnackbar: false,
                category: { title: "", type: "Both" },
                cardDelete: {},
            }
        },
        methods: {
            setContent(type) {
                this.content = this.$store.getters.getData(type);
                if(type !== 'categories') {
                    this.url = "/" + type;
                }
                this.current = type;
            },
            setPath(url) {
                if(this.current !== 'categories') this.$router.push(url);
            },
            setTab(tab) {
                this.tab = tab - 1;
            },
            setTabPath(tab) {
                if(this.tab !== tab - 1) this.$router.push("/template/" + tab);
            },
            callDeleteCard() {
                this.dialogState = true;
                this.cardDelete.id = '';
                this.cardDelete.title = '';
                this.callSnackbar = false;

                if(this.current === 'categories') {
                    this.cardDelete.type = '';
                } else {
                    this.cardDelete.image = '';

                    if(this.current === 'events') {
                        this.cardDelete.eventDate = '';
                        this.cardDelete.local = '';
                        this.cardDelete.visibility = '';
                    }
                }
            },
            confirmDelete(deleted) {
                this.dialogState = false;

                if(deleted) {
                    this.callSnackbar = true;
                    console.log('Data successfully deleted!');
                }
            },
            callCategoryCard() {
                this.categoryDialog = true;
                this.category.id = '';
                this.category.title = '';
                this.category.type = "Both";
            },
            confirmCategoryCreation(saved) {
                this.categoryDialog = false;
                if(saved) {
                    this.callSnackbar = true;
                }
            },
            checkType(tab) {
                if(tab === '3') {
                    this.setContent('categories');
                } else if(tab === '2') {
                    this.setContent('events');
                } else if(tab === '1'){
                    this.setContent('news');
                } else {
                    this.$router.push('/template/1');
                    this.setContent('news');
                }
            }
        },
        mounted() {
            const tab = this.$route.params.tab;
            this.checkType(tab);
            this.setTab(tab);

            if(this.$store.state.hasCreatedItem) {
                this.callSnackbar = true;
            }
        },
        watch: {
            $route(to) {
                this.callSnackbar = false;
                this.$store.state.hasCreatedItem = false;

                const tab = to.params.tab;
                this.checkType(tab);
                this.setTab(tab);
            }
        }
    }
</script>

<style>
    .v-tabs-slider-wrapper {
        color: #4788dd;
    }

    .admin-page-tabs .v-tabs .primary--text {
        color: #4788dd !important;
    }

    .admin-page-tabs {
        margin: 20px 1%;
        border-radius: 8px;
    }

    .v-tabs {
        border-radius: 8px;

    }

    .admin-table-button-new {
        outline: none;
        border: 1px solid rgba(80, 80, 80, 0.2);
        border-radius: 5px;
        box-shadow: 1px 1px 2px #000;
        background-color: #185db8;
        color: #fff;
        font-size: 1.5rem;

        width: 100px;
        height: 40px;

        transition: background-color 0.2s, box-shadow 0.2s;
    }

    .admin-table-button-new:hover {
        background-color: #3778cd;
        box-shadow: 1px 2px 3px #000;
    }

    .admin-table-button-new:active {
        box-shadow: 0 0 0 #000;
        background-color: #4788dd;
    }

    @media(min-width: 1000px) {
        .admin-page-tabs {
            margin: 20px 10%;
        }
    }
</style>
