<template>
    <div class="events-panel-template">
        <MainEvent @eventClick='mainEventClick($event)' />
        <CustomDivider />
        <div class="events-panel-template-list">
            <SearchField />
            <EventCard />
            <EventCard />
        </div>
    </div>
</template>

<script>
    import MainEvent from '../organisms/MainEvent';
    import CustomDivider from '../atoms/CustomDivider';
    import SearchField from '../atoms/SearchField';
    import EventCard from '../organisms/EventCard';

    export default {
        name: 'EventsPanelTemplate',
        components: { MainEvent, CustomDivider, SearchField, EventCard },
        methods: {
            mainEventClick(event) {
                console.log(event);
            }
        }
    }
</script>

<style>
    .events-panel-template {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        padding: 60px 0;
    }

    .events-panel-template .custom-divider {
        height: 1px;
        width: 100%;
        margin: 20px 10%;
        background: linear-gradient(to right, #fff0, #888a, #fff0);
    }

    .events-panel-template .main-event {
        margin-bottom: 40px;
    }

    .events-panel-template-list {
        display: flex;
        flex-direction: column;
    }

    .events-panel-template-list .search-field {
        margin-bottom: 30px;
        margin-left: 20px;
        width: 50%;
    }

    .events-panel-template-list .event-card {
        margin-bottom: 30px;
    }
</style>
