<template>
    <div class="home">
        <PageTitle icon="home" main="Home" sub="News Project"
            :img="require('@/assets/mountain-background.jpg')" :imgTiny="require('@/assets/mountain-background-tiny.jpg')"/>
        <hr>
        <div class="stats">
            <Stat url="/news" title="News" value="9999" icon="mdi-newspaper" color="#3f51b5" />
            <Stat url="/events" title="Events" value="9999" icon="mdi-calendar" color="orange" />
        </div>
        <div class="slider-calendar">
            <div class="slider">
                <Slider url='/news' :items='sliderItems' />
            </div>
            <div class="calendar">
                <CalendarEvents />
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import PageTitle from "../molecules/PageTitle";
    import Stat from "../molecules/Stat";
    import Slider from '../organisms/Slider';
    import CalendarEvents from '../organisms/CalendarEvents';

    export default {
        name: "HomeTemplate",
        components: { PageTitle, Stat, Slider, CalendarEvents },
        computed: mapState(["isMenuVisible"]),
        data() {
            return {
                sliderItems: [ { category: '' } ]
            }
        }
    }
</script>

<style>
    .stats  {
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin: 0 15px;
        padding: 0 25px;

        transition: margin 0.2s;
    }

    .slider-calendar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }

    .calendar .calendar-events {
        margin: 0 15px 20px 15px;
    }

    @media(min-width: 1033px) {
        .stats {
            margin: 0 15%;
        }
    }
</style>
