<template>
    <div class="item-management">
        <PageTitle :icon="itemType === 'events' ? 'map-marker-alt' : 'file-alt'"
            main="Management" :sub="(itemType === 'events' ? 'Event' : 'News') + ' Management'"
            :img="require('@/assets/abstract-grey-scale.png')"
            :imgTiny="require('@/assets/abstract-grey-scale-tiny.png')" />
        <hr>
        <div class="item-elements">
            <div class="item-form">

                <PickImage @hasImage='item.img = $event; image = $event' />

                <div class="item-form-input"
                    :class="{ 'item-news-form-input': itemType !== 'events' }">
                    <TextFieldSelect :text='title' :select='category'
                        textLabel='Title' selectLabel='Category'
                        :textCounter='itemType === "events" ? "50" : "125"'
                        :selectItems='categories'
                        :textRules='titleRules'
                        @changeText='item.title = $event; title = $event' @changeSelect='item.category = $event; category = $event' />

                    <DateTimePicker v-if="itemType === 'events'"
                        :hours='hours' :minutes='minutes'
                        @dateChange='item.eventDate = $event; date = $event'
                        @hourChange='item.eventHour = $event; timeHour = $event'
                        @minuteChange='item.eventMinute = $event; timeMinute = $event' />

                    <v-text-field v-if="itemType === 'events'"
                        v-model="location" label="Location"
                        :rules="locationRules" hide-details="auto"
                        prepend-inner-icon="mdi-map-marker"
                        clearable counter="100"></v-text-field>

                    <TextSwitch v-if="itemType === 'events'"
                        @changeState="item.visibility = $event; visibility = $event;"
                        textOn='Public' textOff='Private' />
                </div>
            </div>
            <div class="item-editor">
                <vue-editor class="item-veditor" v-model="content"
                    :placeholder="`Enter the ${itemType === 'events' ? 'Event' : 'News'} content...`"></vue-editor>
            </div>
            <div class="item-button">
                <ConditionButton buttonLabel='Save' :condition='!disableSave' @buttonClick='confirm(true)' />
                <ConditionButton buttonLabel='Cancel' :condition='true' @buttonClick='confirm()' />
            </div>
        </div>
    </div>
</template>

<script>
    import PageTitle from "../molecules/PageTitle";
    import PickImage from '../atoms/PickImage';
    import TextFieldSelect from '../atoms/TextFieldSelect';
    import DateTimePicker from '../atoms/DateTimePicker';
    import TextSwitch from '../atoms/TextSwitch';
    import ConditionButton from '../atoms/ConditionButton';
    import { VueEditor } from "vue2-editor";

    export default {
        name: "ItemManagement",
        components: { PageTitle, PickImage, TextFieldSelect, DateTimePicker, TextSwitch, VueEditor, ConditionButton },
        computed: {
            disableSave() {
                const title = this.title && this.title.length >=3 &&
                    (this.itemType === 'events' ? this.title.length <= 50 : this.title.length <= 125);
                const content = !!this.content;

                const time = () => {
                    const hour = this.timeHour;
                    const minutes = this.timeMinute;
                    const now = this.date;
                    const settedTime = new Date(`${now} ${hour}:${minutes}`).toISOString();

                    return settedTime < new Date().toISOString();
                }

                if(this.itemType === 'events') {
                    const location = this.location && this.location.length >= 15 && this.location.length <= 100;
                    return !(title && location && content && !time());
                }

                return !(title && content);
            }
        },
        data() {
            return {
                itemType: 'events',
                item: { visibility: false },
                date: '',
                dateModal: false,
                timeHour: '',
                timeMinute: '',
                location: "",
                visibility: false,
                title: '',
                image: '',
                content: '',
                id: '',
                category: '',
                titleRules: [
                    value => !!value || "Title is required.",
                    value => (value && value.length >= 3) || "Min 3 characters"
                ],
                locationRules: [
                    value => !!value || "Location is required.",
                    value => (value && value.length >= 15) || "Min 15 characters"
                ],
                categories: ['Category 1', 'Category 2', 'Category 3', 'Category 4'],
                hours: [
                    "00", "01", "02", "03", "04", "05", "06", "07",
                    "08", "09", "10", "12", "13", "14", "15", "16",
                    "17", "18", "19", "20", "21", "22", "23"
                ],
                minutes: [
                    "00", "01", "02", "03", "04", "05", "06", "07", "08", "09",
                    "10", "11", "12", "13", "14", "15", "16", "17", "18", "19",
                    "20", "21", "22", "23", "24", "25", "26", "27", "28", "29",
                    "30", "31", "32", "33", "34", "35", "36", "37", "38", "39",
                    "40", "41", "42", "43", "44", "45", "46", "47", "48", "49",
                    "50", "51", "52", "53", "54", "55", "56", "57", "58", "59"
                ]
            }
        },
        methods: {
            confirm(choice = false) {
                if(choice) {
                    console.log('Save');
                } else {
                    console.log('Cancel');
                }
            }
        }
    }
</script>

<style>
    .item-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }

    .item-form-input {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 100px 70px 60px 0px;
        margin: 0 15px;
        width: 30%;
    }

    .item-news-form-input {
        grid-template-rows: 1fr;
    }

    .item-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .v-input--selection-controls {
        display: flex;
        align-items: center;
    }

    .item-editor {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border-radius: 5px;
        margin-top: 5px;
        width: calc(525px + 30%);
        border: 1px solid #aaa;
        overflow: hidden;
    }

    .item-veditor {
        height: 100%;
        width: 100%;
    }

    .item-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: center;
        width: calc(525px + 30%);
        margin: 15px 0;
    }

    .item-elements .condition-button button {
        border-radius: 5px;
        font-size: 1.2rem;
        width: 100px;
        height: 40px;
        box-shadow: inset 0px 0px 0px black;

        transition: box-shadow 0.2s;
    }

    .item-elements .condition-button:nth-child(1) button {
        background-color: #1a1;
        margin-right: 10px;
    }

    .item-elements .condition-button:nth-child(1) button:hover {
        background-color: #3b3;
    }

    .item-elements .condition-button:nth-child(2) button {
        background-color: #555;
    }

    .item-elements .condition-button:nth-child(2) button:hover {
        background-color: #777;
    }

    .item-elements .condition-button button:active {
        box-shadow: inset 0px 0px 7px black;
    }

    .item-elements .condition-button-disable:nth-child(1) button,
    .item-elements .condition-button-disable:nth-child(1) button:hover,
    .item-elements .condition-button-disable:nth-child(1) button:active {
        background-color: #ccc;
    }

    @media(max-width: 797px) {
        .item-form {
            flex-direction: column;;
        }

        .item-form-input,
        .item-editor,
        .item-button {
            width: 90%;
        }

        .item-elements {
            margin: 0;
        }
    }
</style>
