<template>
    <div class="item-by-id">
        <ItemPath :item='item || {}' />
        <div class="item-by-id-elements">
            <ItemTitle :title="item ? item.title : 'Title'" />
            <CustomDivider />
            <div class="item-by-id-image-info">
                <img src="@/assets/placeholder-image.jpg" alt="image" class="item-by-id-img-blur"
                    :class="{ 'item-by-id-img-bigger-blur': itemType === 'news' }">
                <EventInfo v-if="itemType === 'events'" :item='item' />
            </div>
            <TagDateText :tag='item ? item.category : "Category"'
                :date='item ? item.date : ""' :text='item ? item.content : "Content"' />
        </div>
    </div>
</template>

<script>
    import ItemPath from '../atoms/ItemPath';
    import ItemTitle from '../atoms/ItemTitle';
    import CustomDivider from '../atoms/CustomDivider';
    import TagDateText from '../molecules/TagDateText';
    import EventInfo from '../atoms/EventInfo';

    export default {
        name: 'ItemByIdTemplate',
        components: { ItemPath, ItemTitle, CustomDivider, TagDateText, EventInfo },
        data() {
            return {
                itemType: '',
                item: { category: "" },
                events: [],
                news: []
            }
        },
        methods: {
            setItem() {
                const id = this.item.id;

                this.item = this.itemType === 'events' ?
                    this.events.find(event => event.id == id) :
                    this.news.find(news => news.id == id);
                this.setImage();
            },
            setImage() {
                const image = document.getElementsByTagName("img")[0];
                const loadImage = document.createElement("img");
                const className = this.itemType === 'events' ? 'item-by-id-img' : 'item-by-id-img-bigger';

                loadImage.onload = function() {
                    image.src = this.src;
                    image.className = className;
                }

                setTimeout(() => {
                    loadImage.src = this.item ? this.item.img : require('@/assets/placeholder-image.jpg');
                }, 50);
            },
            setItemType() {
                this.itemType = this.$route.path.indexOf('/events') === 0 ? 'events' : 'news';
            }
        },
        mounted() {
            this.item.id = this.$route.params.id;
            this.setItemType();
            this.setItem();
        },
        watch: {
            $route(to) {
                this.item.id = to.params.id;
                this.setItemType();
                this.setItem();
            }
        }
    }
</script>

<style>
    .item-by-id {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #eee;
        min-height: 100%;
    }

    .item-by-id-path {
        width: 88%;
        max-width: 770px;
        max-height: 25px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #888;
        font-size: 1.16rem;
        align-self: center;
        margin: 20px 40px 0 40px;
    }

    .item-by-id-path a {
        text-decoration: none;
    }

    .item-by-id-elements {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 20px;
        margin-top: 0;
        padding: 5px;
        background-color: #ddd;
        border-radius: 20px;
    }

    .item-by-id .custom-divider {
        height: 1px;
        background: linear-gradient(to right, #4440, #444, #444, #444, #4441);
    }

    .item-by-id-image-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px 10px;
    }

    .item-by-id-img {
        align-self: center;
        filter: none;
        width: 68%;
        margin: 0 5px 0 2%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 2s;
    }

    .item-by-id-img-bigger {
        align-self: center;
        filter: none;
        width: 90%;
        margin: 15px 5% 0 5%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 2s;
    }

    .item-by-id-img-blur {
        align-self: center;
        filter: blur(5px);
        width: 68%;
        margin: 0 5px 0 2%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 1s;
    }

    .item-by-id-img-bigger-blur {
        align-self: center;
        filter: blur(5px);
        width: 90%;
        margin: 15px 5% 0 5%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 2s;
    }

    .item-by-id-img img {
        border-radius: 10px;
    }

    .item-by-id .event-info {
        padding: 0 10px;
    }

    @media(max-width: 797px) {
        .event-by-id-image-info {
            flex-direction: column;
            align-items: center;
        }

        .item-by-id .event-info {
            width: 100%;
            margin-bottom: 0;
        }

        .event-by-id-img {
            width: 100%;
            max-width: 500px;
            margin: 0;
        }

        .item-by-id .event-info-divider {
            width: 90%;
        }
    }
</style>
