<template>
    <div class="list-page">
        <PageTitle main="ListTemplate" sub="Just a template" icon="cog"
            :img="require('@/assets/abstract-grey-scale.png')" :imgTiny="require('@/assets/abstract-grey-scale-tiny.png')" />
        <hr>
        <ItemList :items='items' />
    </div>
</template>

<script>
    import PageTitle from '../molecules/PageTitle';
    import ItemList from '../organisms/ItemList';

    export default {
        name: 'List',
        props: ['title', 'sub', 'icon'],
        components: { PageTitle, ItemList },
        data() {
            return {
                items: [
                    {
                        id: "1", title: 'Title',
                        date: new Date().toISOString().substr(0, 10),
                        category: "Info", img: ''
                    }
                ]
            }
        }
    }
</script>

<style>

</style>
