<template>
    <div class="news-panel">
        <div class="news-panel-last-news">
            <div class="last-news-title">Last News</div>
            <CustomDivider class="news-panel-divider" />
            <div class="last-news-row">
                <div class="row-shadow"></div>
                <Slider />
                <div class="row-spacer" />
                <VerticalCard />
                <VerticalCard />
            </div>
        </div>

        <div class="news-panel-categories">
            <div class="categories-panel">
                <CategoryItem category='Category 1' @moreClick='pushUrl($event)' :items='items' class="category-item-one" />
                <div class="row-spacer" />
                <CategoryItem category='Category 2' @moreClick='pushUrl($event)' :items='items' class="category-item-two" />
                <CategoryItem category='Category 3' @moreClick='pushUrl($event)' :items='items' class="category-item-three" />
                <div class="row-spacer" />
                <CategoryItem category='Category 4' @moreClick='pushUrl($event)' :items='items' class="category-item-four" />
            </div>
        </div>
    </div>
</template>

<script>
    import CustomDivider from '../atoms/CustomDivider';
    import Slider from '../organisms/Slider';
    import VerticalCard from '../organisms/VerticalCard';
    import CategoryItem from '../organisms/CategoryItem';

    export default {
        name: 'NewsPanelTemplate',
        components: { CategoryItem, CustomDivider, Slider, VerticalCard },
        data() {
            return {
                items: [
                    {
                        id: 1
                    },
                    {
                        id: 2
                    },
                    {
                        id: 3
                    }
                ]
            }
        },
        methods: {
            pushUrl(category) {
                console.log(category);
            }
        }
    }
</script>

<style>
    .news-panel {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 50px 70px;
    }

    .news-panel-last-news {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-panel-last-news .news-panel-divider {
        height: 3px;
        width: 100%;
        background: linear-gradient(to right, #0e59bb, #4788dd);
    }

    .last-news-title {
        font-size: 2.4rem;
        font-weight: 600;
        color: #4788dd;

        align-self: flex-start;
        margin-left: 80px;
    }

    .last-news-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        width: 99.8%;
        min-width: 550px;
    }

    .last-news-row .row-spacer {
        width: 20px;
        align-self: center;
    }

    .categories-panel .row-spacer { grid-area: 'category-spacer' }

    .category-item-one { grid-area: 'item-one' }
    .category-item-two { grid-area: 'item-two' }
    .category-item-three { grid-area: 'item-three' }
    .category-item-four { grid-area: 'item-four' }

    .categories-panel {
        display: grid;

        grid-template-columns: 1fr 100px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "item-one category-spacer item-two"
            "item-three category-spacer item-four";
    }
</style>
