<template>
    <div class="admin-page">
        <PageTitle main="Administration" sub="Settings" icon="cog"
            :img="require('@/assets/abstract-grey-scale.png')" :imgTiny="require('@/assets/abstract-grey-scale-tiny.png')" />
        <div class='admin-page-tabs'>
            <v-tabs v-model="tab" class="elevation-2"
                icons-and-text>
                <v-tabs-slider></v-tabs-slider>

                <v-tab @click="setUrl('news'); tableTitle='News'; setTabPath(1)"
                    active-class="admin-tab-active">News <v-icon>mdi-newspaper</v-icon></v-tab>
                <v-tab @click="setUrl('events'); tableTitle='Events'; setTabPath(2)"
                    active-class="admin-tab-active">Events <v-icon>mdi-calendar</v-icon></v-tab>
                <v-tab @click="setUrl('categories'); tableTitle='Categories'; setTabPath(3)"
                    active-class="admin-tab-active">Categories <v-icon>mdi-format-list-bulleted</v-icon></v-tab>

                <v-tab-item v-for="item in 3" :key="item.id">
                    <DataTable :tableTitle='tableTitle' :headers="content.length !== 0 ? (current !== 'news' ?
                        (current !== 'events' ? categoriesHeaders : eventsHeaders) : newsHeaders) : []"
                        :items='content.length !== 0 ? content : []'
                        sortBy='id' :loading='false' toolbarColor='blue darken-2'
                        @buttonClick="setPath(current !== 'news' ? (current === 'events' ?
                            '/events/management' : '') : '/news/management');
                            if(current === 'categories') callCategoryCard();"
                        buttonTitle='New' buttonIcon='mdi-plus-circle' iconColor='white'
                        @editClick='editItem($event)' @deleteClick='callDeleteCard($event)' />
                </v-tab-item>
            </v-tabs>
            <DeleteCard v-if="dialogState" :item="cardDelete" :showDialog="dialogState"
                @confirm="confirmDelete($event)" :cardType="current" />
            <CategoryManagement v-if="categoryDialog" @confirm="confirmCategoryCreation($event)" :category="category" />
            <Snackbar v-if="callSnackbar" :call="callSnackbar" :callText='callSnackbarText' :callColor="snackBarColor" />
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import PageTitle from "../components/molecules/PageTitle";
    import DataTable from '../components/molecules/DataTable';
    import DeleteCard from "../components/organisms/DeleteCard";
    import CategoryManagement from "../components/organisms/CategoryManagement";
    import Snackbar from "../components/molecules/Snackbar";

    export default {
        name: "AdminPage",
        components: { PageTitle, DataTable, DeleteCard, CategoryManagement, Snackbar },
        computed: {
            ...mapState(['eventsData', 'newsData', 'categoriesData']),
            content() {
                return this.$store.getters.getData(this.current);
            }
        },
        data() {
            return {
                tab: 0,
                snackBarColor: 'success',
                tableTitle: "News",
                current: "",
                url: "",
                dialogState: false,
                categoryDialog: false,
                callSnackbar: false,
                callSnackbarText: 'Operation successfully completed!',
                category: { title: "", type: "Both" },
                cardDelete: {},
                newsHeaders: [
                    { text: 'ID', sortable: true, value: 'id', align: 'center' },
                    { text: 'Title', sortable: true, value: 'title', align: 'center' },
                    { text: 'Category', sortable: true, value: 'category', align: 'center' },
                    { text: 'Date', sortable: true, value: 'date', align: 'center' },
                    { text: 'Actions', sortable: false, value: 'actions', align: 'center' }
                ],
                eventsHeaders: [
                    { text: 'ID', sortable: true, value: 'id', align: 'center' },
                    { text: 'Title', sortable: true, value: 'title', align: 'center' },
                    { text: 'Category', sortable: true, value: 'category', align: 'center' },
                    { text: 'Event Date', sortable: true, value: 'eventDate', align: 'center' },
                    { text: 'Local', sortable: false, value: 'local', align: 'center' },
                    { text: 'Date', sortable: true, value: 'date', align: 'center' },
                    { text: 'Actions', sortable: false, value: 'actions', align: 'center' }
                ],
                categoriesHeaders: [
                    { text: 'ID', sortable: true, value: 'id', align: 'center' },
                    { text: 'Title', sortable: true, value: 'title', align: 'center' },
                    { text: 'Type', sortable: true, value: 'type', align: 'center' },
                    { text: 'Actions', sortable: false, value: 'actions', align: 'center' }
                ]
            }
        },
        methods: {
            setUrl(type) {
                if(type !== 'categories') {
                    this.url = "/" + type;
                }
            },
            setPath(url) {
                if(this.current !== 'categories') this.$router.push(url);
            },
            setTab(tab) {
                this.tab = tab - 1;
            },
            setTabPath(tab) {
                if(this.tab !== tab - 1) this.$router.push("/administration/" + tab);
            },
            editItem(item) {
                this.callSnackbar = false;

                if(this.current !== 'categories') {
                    this.$router.push(`${this.url}/management/${item.id}`);
                } else {
                    this.categoryDialog = true;
                    this.category = item;
                    this.setUrl('categories');
                }
            },
            callDeleteCard(item) {
                this.dialogState = true;
                this.cardDelete.id = item.id;
                this.cardDelete.title = item.title;
                this.callSnackbar = false;

                if(this.current === 'categories') {
                    this.cardDelete.type = item.type;
                } else {
                    this.cardDelete.image = item.img;

                    if(this.current === 'events') {
                        this.cardDelete.eventDate = item.eventDate;
                        this.cardDelete.local = item.local;
                        this.cardDelete.visibility = item.visibility;
                    }
                }
            },
            confirmDelete(deleted) {
                this.dialogState = false;
                if(deleted) {
                    const tab = this.$route.params.tab;
                    const type = this.current;
                    const payload = { type, id: this.cardDelete.id, date: this.cardDelete.date };

                    let canDelete = true;
                    if(type === 'categories') {
                        const category = this.cardDelete;
                        const data = category.type === 'News'
                            ? this.newsData : this.eventsData;

                        const countCategories = data.filter(item => item.category === category.title);
                        canDelete = !countCategories.length;
                    }

                    if(canDelete) {
                        this.$store.dispatch('delete', payload).then(() => {
                            this.snackBarColor = 'green';
                            this.callSnackbarText = (tab == '1' ? 'News' :
                                (tab == '3' ? 'Category' : 'Event')) + ' successfully deleted!';
                            this.callSnackbar = true;
                        });
                    } else {
                            this.snackBarColor = 'red';
                            this.callSnackbarText = 'Category is being used!';
                            this.callSnackbar = true;
                    }
                }
            },
            callCategoryCard() {
                this.categoryDialog = true;
                this.category.id = '';
                this.category.title = '';
                this.category.type = "Both";
            },
            confirmCategoryCreation(saved) {
                this.categoryDialog = false;
                if(saved === 'exists') {
                    setTimeout(() => {
                        this.snackBarColor = 'red';
                        this.callSnackbarText = 'Category already exists!';
                        this.callSnackbar = true;
                    }, 10);
                }
                if(saved && saved !== 'exists') {
                    setTimeout(() => {
                        this.snackBarColor = 'green';
                        this.callSnackbarText = 'Category successfully inserted!';
                        this.callSnackbar = true;
                    }, 10);
                }
                this.snackBarColor = 'green';
                this.callSnackbar = false;
            },
            setCurrent(tab) {
                if(tab === '3') {
                    this.current = 'categories';
                } else if(tab === '2') {
                    this.current = 'events';
                } else if(tab === '1') {
                    this.current = 'news';
                } else {
                    this.$router.push('/administration/1');
                    this.current = 'news';
                }
            },
            initComponent() {
                const tab = this.$route.params.tab;
                this.setTab(tab);
                this.setCurrent(tab);
                this.setUrl(this.current);

                if(this.$store.state.hasCreatedItem) {
                    this.callSnackbarText = (tab == 1 ? 'News' : 'Event') + ' successfully inserted!';
                    this.callSnackbar = true;
                }
                if(this.current === 'events') {
                    if(this.$store.state.eventsData.length <= 1) {
                        this.$store.dispatch('setStateData', 'events');
                    }
                } else if(this.current === 'news') {
                    if(this.$store.state.newsData.length <= 1) {
                        this.$store.dispatch('setStateData', 'news');
                    }
                } else {
                    if(this.$store.state.categoriesData.length <= 1) {
                        this.$store.dispatch('setStateData', 'categories');
                    }
                }
            }
        },
        created() {
            this.initComponent();
        },
        destroyed() {
            this.$store.state.hasCreatedItem = false;
        },
        watch: {
            $route() {
                this.callSnackbar = false;
                this.$store.state.hasCreatedItem = false;

                this.initComponent();
            },
            eventsData() {
                this.setUrl('events');
                this.$store.dispatch('setStateData', 'events');
            },
            newsData() {
                this.setUrl('news');
                this.$store.dispatch('setStateData', 'news');
            },
            categoriesData() {
                this.setUrl('categories');
                this.$store.dispatch('setStateData', 'categories');
            }
        }
    }
</script>

<style>
    .v-tabs-slider-wrapper {
        color: #4788dd;
    }

    .admin-page-tabs .v-tabs .primary--text {
        color: #4788dd !important;
    }

    .admin-page-tabs {
        margin: 20px 1%;
        border-radius: 8px;
    }

    .v-tabs {
        border-radius: 8px;

    }

    .admin-table-button-new {
        outline: none;
        border: 1px solid rgba(80, 80, 80, 0.2);
        border-radius: 5px;
        box-shadow: 1px 1px 2px #000;
        background-color: #185db8;
        color: #fff;
        font-size: 1.5rem;

        width: 100px;
        height: 40px;

        transition: background-color 0.2s, box-shadow 0.2s;
    }

    .admin-table-button-new:hover {
        background-color: #3778cd;
        box-shadow: 1px 2px 3px #000;
    }

    .admin-table-button-new:active {
        box-shadow: 0 0 0 #000;
        background-color: #4788dd;
    }

    @media(min-width: 1000px) {
        .admin-page-tabs {
            margin: 20px 10%;
        }
    }
</style>
