<template>
    <div class="auth-content">
        <div class="auth-content-image">
            <img src="@/assets/abstract-grey-scale.png" alt="image">
        </div>
        <AuthCard @register='register($event)'
            @login='login($event)' />
    </div>
</template>

<script>
    import AuthCard from '../components/organisms/AuthCard';

    export default {
        name: 'Auth',
        components: { AuthCard },
        methods: {
            register(data) {
                const users = this.$store.getters.getData('users');

                const filteredUsername = users.filter(u => data.username == u.username).length > 0;
                const filteredEmail = users.filter(u => data.email == u.email).length > 0;
                if(filteredUsername && filteredEmail) {
                    alert('Username and E-mail already in use!');
                } else if(filteredUsername) {
                    alert('Username already in use!');
                } else if(filteredEmail) {
                    alert('E-mail already in use!');
                } else {
                    const payload = { type: 'users', data };
                    data.isAdmin = false;
                    this.$store.dispatch('insert', payload).then(() => {
                        localStorage.setItem('__fsp_user', JSON.stringify(data));
                        this.$router.push('/');
                    });
                }
            },
            login(data) {
                const users = this.$store.getters.getData('users');

                const account = users.filter(u => data.email == u.email && data.password == u.password);
                const findAccount = account.length > 0;

                if(!findAccount) {
                    const findEmail = users.filter(u => data.email == u.email).length > 0;

                    if(!findEmail) {
                        alert('E-mail not registered!');
                    } else {
                        alert('Wrong password!');
                    }
                } else {
                    localStorage.setItem('__fsp_user', JSON.stringify(account[0]));
                    this.$router.push('/');
                }
            }
        },
        created() {
            this.$store.dispatch('setStateData', 'users');
        }
    }
</script>

<style>
    .auth-content {
        height: 100%;
        min-height: 600px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-content-image {
        z-index: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
    }
</style>
