<template>
    <div class="events-panel">
        <MainEvent @eventClick='pushUrl(mainEvent)' :item='mainEvent' />
        <CustomDivider />
        <div class="events-panel-secondary">
            <div class="events-panel-calendar">
                <CalendarEvents :data='events' />
            </div>
            <EventCard v-if="secondaryEvent" @eventClick='pushUrl(secondaryEvent)' :item='secondaryEvent' />
        </div>
        <div class="events-panel-list">
            <SearchField v-if="events.length > 2" @textChange='setSearchText($event)' />
            <div class="events-list" v-if="events.length > 0">
                <EventCard v-for="event in (!searchText ? eventsList : filteredEvents)"
                    :key="event.id" :item='event' @eventClick='pushUrl(event)' />
            </div>
            <div v-else class="list-no-events">There are no items in this list!</div>
            <div v-if="eventsList.length > 0 && searchText && filteredEvents.length === 0"
            class="list-no-events">No events matches this search!</div>
        </div>
    </div>
</template>

<script>
    import MainEvent from '../components/organisms/MainEvent';
    import CustomDivider from '../components/atoms/CustomDivider';
    import SearchField from '../components/atoms/SearchField';
    import EventCard from '../components/organisms/EventCard';
    import CalendarEvents from '../components/organisms/CalendarEvents';

    export default {
        name: 'EventsPanel',
        components: { MainEvent, CustomDivider, SearchField, EventCard, CalendarEvents },
        computed: {
            events() {
                const events = this.$store.getters.getData('events').filter(e => e.visibility);
                const closeEvents = events.sort((e1, e2) => e1.eventDate < e2.eventDate ? -1 : 1);

                return closeEvents;
            },
            eventsList() {
                return this.events.slice(2);
            },
            mainEvent() {
                return this.events[0] || '';
            },
            secondaryEvent() {
                return this.events[1] || '';
            }
        },
        data() {
            return {
                filteredEvents: [],
                searchText: ''
            }
        },
        methods: {
            pushUrl(event) {
                this.$router.push(`/events/${event.category.toLowerCase()}/${event.id}`);
            },
            setSearchText(text) {
                this.searchText = text;
            },
            filter() {
                const text = this.searchText;
                const eventsList = text ? this.eventsList
                    .filter(e => e.title.toLowerCase().indexOf(text.toLowerCase()) + 1) : this.eventsList;

                this.filteredEvents = eventsList;
            }
        },
        created() {
            if(this.$store.state.eventsData.length <= 1) {
                this.$store.dispatch('setStateData', 'events');
            }
        },
        watch: {
            searchText() {
                this.filter();
            }
        }
    }
</script>

<style>
    .events-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        padding: 60px 0;
    }

    .events-panel > .custom-divider {
        height: 1px;
        width: 100%;
        margin: 20px 10%;
        background: linear-gradient(to right, #fff0, #888a, #fff0);
    }

    .events-panel .main-event {
        margin-bottom: 40px;
    }

    .events-panel-secondary {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .events-panel-calendar {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 30px;
    }

    .events-panel-secondary .event-card .event-card-info .ellipsis-text {
        height: 135px;
        margin-top: 30px;
    }

    .events-panel-secondary .event-card {
        flex-direction: column;
        height: 491px;
        width: 400px;
    }

    .events-panel-secondary .event-card:hover {
        transform: translateY(-20px);
    }

    .events-panel-secondary .event-card:active {
        transform: translateY(-10px);
    }

    .events-panel-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .events-panel-list .search-field {
        margin-bottom: 30px;
        margin-left: -220px;
        width: 40%;

        transition: all 0.5s;
    }

    .events-panel-list .event-card {
        margin-bottom: 30px;
    }

    .list-no-events {
        font-size: 3em;
        font-weight: bold;
        color: #333;
        text-shadow: 0 0 5px #888;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #8883;
        border-radius: 10px;
        box-shadow: 0 0 10px #0008;

        padding: 0 20px;
        margin: 50px 18% 0 18%;
        min-height: 200px;

        transition: all 0.5s;
    }

    @media(max-width: 1000px) {
        .events-panel-list .search-field {
            margin-left: 0;
            width: 90%;
        }
    }

    @media(max-width: 600px) {
        .list-no-events {
            margin: 50px 20px 0 20px;
        }
    }
</style>
