<template>
    <div class="home">
        <PageTitle icon="home" main="Home" sub="News Project"
            :img="require('@/assets/mountain-background.jpg')" :imgTiny="require('@/assets/mountain-background-tiny.jpg')"/>
        <hr>
        <div class="stats">
            <Stat url="/news" title="News" :value="getNewsStats" icon="mdi-newspaper" color="#3f51b5" />
            <Stat url="/events" title="Events" :value="getEventStats" icon="mdi-calendar" color="orange" />
        </div>
        <div class="slider-calendar">
            <div class="slider">
                <Slider url='/news' :items='sliderItems' />
            </div>
            <div class="calendar">
                <CalendarEvents v-if="calendarEvents" :data='calendarEvents' />
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import PageTitle from "../components/molecules/PageTitle";
    import Stat from "../components/molecules/Stat";
    import Slider from '../components/organisms/Slider';
    import CalendarEvents from '../components/organisms/CalendarEvents';

    export default {
        name: "Home",
        components: { PageTitle, Stat, Slider, CalendarEvents },
        computed: {
            ...mapState(["isMenuVisible"]),
            getNewsStats() {
                return this.$store.getters.getData('news').length;
            },
            getEventStats() {
                return this.$store.getters.getData('events').filter(e => e.visibility === true).length;
            },
            sliderItems() {
                const items = this.$store.getters.getData('news');
                const sortedItems = items.sort((i1, i2) => i1.date > i2.date ? -1 : 1);
                const recent = [];

                for(let i = 0; i < sortedItems.length; i++) {
                    recent.push(sortedItems[i]);
                    if(i === 4) break;
                }

                return recent;
            },
            calendarEvents() {
                const events = this.$store.getters.getData('events');

                return events;
            }
        },
        created() {
            const newsLength = this.$store.state.newsData.length;
            const eventsLength = this.$store.state.eventsData.length;

            if(newsLength <= 1) {
                this.$store.dispatch('setStateData', 'news');
            }
            if(eventsLength <= 1) {
                this.$store.dispatch('setStateData', 'events');
            }
        }
    }
</script>

<style>
    .stats  {
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin: 0 15px;
        padding: 0 25px;

        transition: margin 0.2s;
    }

    .slider-calendar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }

    .calendar .calendar-events {
        margin: 0 15px 20px 15px;
    }

    @media(min-width: 1033px) {
        .stats {
            margin: 0 15%;
        }
    }
</style>
