<template>
    <div class="item-by-id">
        <ItemPath :item='item' />
        <div class="item-by-id-elements">
            <ItemTitle :title='item && item.title ? item.title : "Title"' />
            <CustomDivider />
            <div class="item-by-id-image-info">
                <img src="@/assets/placeholder-image.jpg" alt="image" class="item-by-id-img-blur">
                <EventInfo v-if="itemType === 'events'" :item='item' />
            </div>
            <TagDateText :tag='item && item.category ? item.category : "Category"'
                :date='item && item.date ? item.date : ""' :text='item && item.content ? item.content : "Content"' />
        </div>
    </div>
</template>

<script>
    import ItemPath from '../components/atoms/ItemPath';
    import ItemTitle from '../components/atoms/ItemTitle';
    import CustomDivider from '../components/atoms/CustomDivider';
    import TagDateText from '../components/molecules/TagDateText';
    import EventInfo from '../components/atoms/EventInfo';

    export default {
        name: "ItemById",
        components: { ItemPath, ItemTitle, CustomDivider, TagDateText, EventInfo },
        computed: {
            events() {
                return this.$store.getters.getData('events');
            },
            news() {
                return this.$store.getters.getData('news');
            },
            item() {
                const id = this.itemHolder.id;
                const data = this.itemType === 'events' ? this.events : this.news;
                const item = [data.find(i => i.id == id)];

                if(item && item[0]) this.setImage(item[0]);
                this.setHolder(item && item[0] ? item[0] : { id, category: '' });
                return item && item[0] ? item[0] : { category: '' };
            }
        },
        data() {
            return {
                itemType: '',
                itemHolder: { category: '' }
            }
        },
        methods: {
            setHolder(item) {
                this.itemHolder = item;
            },
            setImage(item) {
                const loadImage = document.createElement("img");
                const className = 'item-by-id-img';

                loadImage.onload = function() {
                    document.getElementsByTagName("img")[0].src = this.src;
                    document.getElementsByTagName("img")[0].className = className;
                }

                setTimeout(() => {
                    loadImage.src = item && item.img ? item.img : require('@/assets/placeholder-image.jpg');
                }, 50);
            },
            setItemType() {
                this.itemType = this.$route.path.indexOf('/events') === 0 ? 'events' : 'news';
            },
            initComponent() {
                const payload = {
                    id: this.itemHolder.id,
                    type: this.itemType
                }
                if(this.itemType === 'events') {
                    if(this.$store.state.eventsData.length <= 1) {
                        this.$store.dispatch('setStateDataById', payload);
                    }
                } else {
                    if(this.$store.state.newsData.length <= 1) {
                        this.$store.dispatch('setStateDataById', payload);
                    }
                }
            }
        },
        created() {
            this.itemHolder.id = this.$route.params.id;
            this.setItemType();

            this.initComponent();
        },
        watch: {
            $route(to) {
                this.itemHolder.id = to.params.id;
                this.setItemType();
                this.initComponent();
            }
        }
    }
</script>

<style>
    .item-by-id {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        min-height: 100%;
    }

    .item-by-id .item-path {
        width: 88%;
        max-width: 770px;
        height: 25px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #888;
        font-size: 1.0rem;
        align-self: center;
        margin: 20px 40px 0 40px;
    }

    .item-by-id .item-path span {
        text-decoration: none;
    }

    .item-by-id-elements {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: 20px;
        margin-top: 0;
        padding: 5px;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #8881;
    }

    .item-by-id .custom-divider {
        height: 1px;
        background: linear-gradient(to right, #4440, #444, #444, #444, #4440);
    }

    .item-by-id-image-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 15px 10px;

        width: 100%;
    }

    .item-by-id-image-info .event-info {
        margin: 20px 0px 80px 100px;
    }

    .item-by-id-img {
        align-self: center;
        filter: none;
        width: 90%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 2s;
    }

    .item-by-id-img-bigger {
        align-self: center;
        filter: none;
        width: 90%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 2s;
    }

    .item-by-id-img-blur {
        align-self: center;
        filter: blur(5px);
        width: 90%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 1s;
    }

    .item-by-id-img-bigger-blur {
        align-self: center;
        filter: blur(5px);
        width: 90%;
        border: 1px solid #0002;
        border-radius: 10px;

        transition: all 2s;
    }

    .item-by-id-img img {
        border-radius: 10px;
    }

    .item-by-id .ellipsis-text {
        font-size: 1.2rem;
    }

    @media(max-width: 797px) {
        .item-by-id .event-info {
            width: 100%;
            margin-bottom: 0;
        }

        .item-by-id-img {
            width: 90%;
            max-width: 500px;
            margin: 0;
        }


        .item-by-id-image-info .event-info {
            margin-left: 10%;
        }

        .item-by-id-image-info {
            margin: 15px 0;
        }

        .item-by-id-image-info .event-local {
            margin: 0;
        }
    }
</style>
