<template>
    <div class="list-page">
        <PageTitle :main="getTitle" :sub="getSub" :icon="getIcon"
            :img="require('@/assets/abstract-grey-scale.png')" :imgTiny="require('@/assets/abstract-grey-scale-tiny.png')" />
        <hr>
        <div class="page-items-list">
            <SearchField @textChange='setSearchText($event)' />
            <ItemList v-if="items.length > 0" :items='!searchText ? items : filteredItems' />
            <div v-else class="list-no-items">There are no items in this list!</div>
            <div v-if="items.length > 0 && searchText && filteredItems.length === 0"
                class="list-no-items">No items matches this search!</div>
        </div>
    </div>
</template>

<script>
    import PageTitle from '../components/molecules/PageTitle';
    import ItemList from '../components/organisms/ItemList';
    import SearchField from '../components/atoms/SearchField';

    export default {
        name: 'List',
        props: ['title', 'sub', 'icon'],
        components: { PageTitle, ItemList, SearchField },
        computed: {
            getTitle() {
                return this.current === 'events' ? 'Events' : 'News';
            },
            getSub() {
                return this.current === 'events' ? 'The Events you\'re looking for!' : 'Find any News you want to see!';
            },
            getIcon() {
                return this.current === 'events' ? 'calendar-day' : 'newspaper';
            },
            items() {
                let items = this.current === 'events' ?
                    this.$store.getters.getData('events') :
                    this.$store.getters.getData('news');

                if(this.category) {
                    items = items.filter(item => item.category.toLowerCase() === this.category);
                }

                return this.current === 'events' ?
                    items.sort((i1, i2) => i1.eventDate < i2.eventDate ? -1 : 1).filter(i => i.visibility) :
                    items.sort((i1, i2) => i1.date > i2.date ? -1 : 1);
            }
        },
        data() {
            return {
                filteredItems: [],
                searchText: '',
                category: '',
                current: ''
            }
        },
        methods: {
            setSearchText(text) {
                this.searchText = text;
            },
            initComponent() {
                this.category = this.$route.params.categoryId;
                this.current = this.$route.path.indexOf('/events') === 0 ? 'events' : 'news';
                if(this.current === 'events') {
                    if(this.$store.state.eventsData.length <= 1) {
                        this.$store.dispatch('setStateData', 'events');
                    }
                } else {
                    if(this.$store.state.newsData.length <= 1) {
                        this.$store.dispatch('setStateData', 'news');
                    }
                }
            },
            filter() {
                const text = this.searchText;
                const items = text ? this.items
                    .filter(i => i.title.toLowerCase().indexOf(text.toLowerCase()) + 1) : this.items;

                this.filteredItems = items;
            }
        },
        created() {
            this.initComponent();
        },
        watch: {
            $route() {
                this.initComponent();
            },
            searchText() {
                this.filter();
            }
        }
    }
</script>

<style>
    .list-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-page .search-field {
        width: 40%;
        margin: 0 0 50px 15%;
    }

    .page-items-list {
        width: 100%;
    }

    .list-no-items {
        font-size: 3em;
        font-weight: bold;
        color: #333;
        text-shadow: 0 0 5px #888;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #8883;
        border-radius: 10px;
        box-shadow: 0 0 10px #0008;

        padding: 0 20px;
        margin: 50px 18% 0 18%;
        min-height: 200px;

    }
</style>
