<template>
    <div class="news-panel">
        <div class="news-panel-last-news">
            <div class="last-news-title">Last News</div>
            <CustomDivider class="news-panel-divider" />
            <div class="last-news-row">
                <div class="row-shadow"></div>
                <Slider v-if="sliderNews" url='/news' :items='sliderNews' />
                <div class="row-spacer" />
                <VerticalCard v-if='lastNews[4]' :item='lastNews[4]' @cardClick="pushNewsUrl(lastNews[4])" />
                <VerticalCard v-if='lastNews[5]' :item='lastNews[5]' @cardClick="pushNewsUrl(lastNews[5])" />
            </div>
        </div>

        <div class="news-panel-categories">
            <div class="categories-panel">
                <CategoryItem v-if='newsList[0]' @itemClick='(pushNewsUrl($event))'
                    :category='categories[0]' @moreClick='pushUrl($event)'
                    :items='newsList[0]' class="category-item-one" />
                <CategoryItem v-if='newsList[1]' @itemClick='(pushNewsUrl($event))'
                    :category='categories[1]' @moreClick='pushUrl($event)'
                    :items='newsList[1]' class="category-item-two" />
                <CategoryItem v-if='newsList[2]' @itemClick='(pushNewsUrl($event))'
                    :category='categories[2]' @moreClick='pushUrl($event)'
                    :items='newsList[2]' class="category-item-three" />
                <CategoryItem v-if='newsList[3]' @itemClick='(pushNewsUrl($event))'
                    :category='categories[3]' @moreClick='pushUrl($event)'
                    :items='newsList[3]' class="category-item-four" />
            </div>
        </div>
    </div>
</template>

<script>
    import CustomDivider from '../components/atoms/CustomDivider';
    import Slider from '../components/organisms/Slider';
    import VerticalCard from '../components/organisms/VerticalCard';
    import CategoryItem from '../components/organisms/CategoryItem';

    export default {
        name: 'NewsPanel',
        components: { CategoryItem, CustomDivider, Slider, VerticalCard },
        computed: {
            categories() {
                const news = this.$store.getters.getData('news') || [];
                if(news.length) {
                    const categories = [...new Set(news.map(news => news.category))];
                    const topics = [];

                    for(let index in categories) {
                        topics.push(categories[index]);
                        if(index === 4) break;
                    }
                    return topics;
                } else {
                    return [];
                }
            },
            newsList() {
                const news = this.$store.getters.getData('news') || [];
                if(news.length) {
                    const categories = this.categories;
                    const newsList = [];

                    for(let index in categories) {
                        let count = 0;
                        newsList.push(news.filter((news) => {
                                const isEqual = news.category === categories[index];
                                if(isEqual) count++;
                                if(count > 3) return false;
                                return isEqual;
                            })
                        );
                    }
                    return newsList;
                } else {
                    return [];
                }
            },
            lastNews() {
                const news = this.$store.getters.getData('news') || [];
                if(news.length) {
                    const sortedNews = news.sort((n1, n2) => n1.date > n2.date ? -1 : 1);
                    const recent = [];

                    for(let i = 0; i < sortedNews.length; i++) {
                        recent.push(sortedNews[i]);
                        if(i === 6) break;
                    }
                    return recent;
                } else {
                    return [];
                }
            },
            sliderNews() {
                const recent = this.lastNews;
                if(recent.length) {
                    const length = recent.length;
                    let sliced = [];
                    if(length > 4) {
                        sliced = recent.slice(0, 4);
                    } else {
                        sliced = recent.slice(0, length);
                    }
                    return sliced;
                } else {
                    return [];
                }
            }
        },
        methods: {
            pushUrl(category) {
                if(category) {
                    this.$router.push(`/news/${category.toLowerCase()}`);
                }
            },
            pushNewsUrl(item) {
                if(item && item.category) {
                    this.$router.push(`/news/${item.category.toLowerCase()}/${item.id}`);
                }
            }
        },
        created() {
            if(this.$store.state.newsData.length <= 1) {
                this.$store.dispatch('setStateData', 'news');
            }
        }
    }
</script>

<style>
    .news-panel {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 50px 70px;
    }

    .news-panel-last-news {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-panel-last-news .news-panel-divider {
        height: 3px;
        width: 100%;
        background: linear-gradient(to right, #0e59bb, #4788dd);
    }

    .last-news-title {
        font-size: 2.1rem;
        font-weight: bold;
        color: #4788dd;

        align-self: flex-start;
        margin-left: 80px;
    }

    .last-news-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        width: 99.8%;
        min-width: 450px;
    }

    .last-news-row .ellipsis-text {
        font-size: 18px;
    }

    .last-news-row .row-spacer {
        width: 20px;
        align-self: center;
    }

    .news-panel-categories {
        width: 95%;
    }

    .categories-panel {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .categories-panel .list-item-title {
        font-size: 18px;
    }

    @media(max-width: 700px) {
        .news-panel {
            margin: 5px 10px;
        }

        .news-panel-last-news .slider-component {
            margin: 0 0 20px 0;
        }
    }
</style>
