<template>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :color='button1Color' :disabled="disable"
            @click="buttonClicked(true);">{{ button1Text || 'Button 1' }}</v-btn>
        <v-btn :color='button2Color'
            @click="buttonClicked();">{{ button2Text || 'Button 2' }}</v-btn>
    </v-card-actions>
</template>

<script>
    export default {
        name: 'ActionButtons',
        props: {
            button1Text: String,
            button1Color: String,
            button2Text: String,
            button2Color: String,
            disable: Boolean
        },
        methods: {
            buttonClicked(confirm = false) {
                this.$emit('actionButtonClick', confirm);
            }
        }
    }
</script>

<style>

</style>
