<template>
    <button class="button-with-icon"
        @click="buttonClicked()">
        {{ buttonTitle || 'Button' }} <v-icon :color='iconColor'>{{ buttonIcon || 'mdi-cog' }}</v-icon>
    </button>
</template>

<script>
    export default {
        name: 'ButtonWithIcon',
        props: { buttonTitle: String, iconColor: String, buttonIcon: String },
        methods: {
            buttonClicked() {
                this.$emit('buttonClick');
            }
        }
    }
</script>

<style>

    .button-with-icon {
        outline: none;
        border: 1px solid rgba(80, 80, 80, 0.2);
        border-radius: 5px;
        box-shadow: 1px 1px 2px #000;
        background-color: #185db8;
        color: #fff;
        font-size: 1.5rem;
        padding: 0 10px;

        min-width: 100px;
        height: 40px;

        transition: background-color 0.2s, box-shadow 0.2s;
    }

    .button-with-icon:hover {
        background-color: #3778cd;
        box-shadow: 1px 2px 3px #000;
    }

    .button-with-icon:active {
        box-shadow: 0 0 0 #000;
        background-color: #4788dd;
    }
</style>
