<template>
    <v-carousel cycle continuous show-arrows-on-hover v-model="slide"
        hide-delimiter-background delimiter-icon="mdi-circle" height="282">
        <v-carousel-item class="slide" v-for="item in items" :key="item.id" @click="carouselClicked">
            <img :src="item.img || require('@/assets/placeholder-image.jpg')" alt="image" >
        </v-carousel-item>
    </v-carousel>
</template>

<script>
    export default {
        name: 'Carousel',
        props: ['items'],
        data() {
            return {
                slide: 0
            }
        },
        methods: {
            carouselClicked() {
                this.$emit('carouselClick');
            },
            slideChange() {
                this.$emit('slideChange', this.slide);
            }
        },
        mounted() {
            this.slide = 0;
            this.slideChange();
        },
        watch: {
            slide() {
                this.slideChange();
            }
        }
    }
</script>

<style>
    .v-carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
