<template>
    <div class="condition-text" :style="{ 'color': condition ? text1Color : text2Color }">
        {{ condition ? text1 : text2 }}
    </div>
</template>

<script>
    export default {
        name: 'ConditionText',
        props: {
            condition: Boolean,
            text1: String,
            text1Color: String,
            text2: String,
            text2Color: String,
        }
    }
</script>

<style>
    .condition-text {
        font-size: 1.1rem;
        font-weight: 600;
    }
</style>
