<template>
    <div class="condition-button" :class="{ 'condition-button-disable': !condition }">
        <button :disabled="!condition"
            @click="clicked()">{{ buttonLabel || 'Label' }}</button>
    </div>
</template>

<script>
    export default {
        name: 'ConditionButton',
        props: { condition: Boolean, buttonLabel: String },
        methods: {
            clicked() {
                this.$emit('buttonClick');
            }
        }
    }
</script>

<style>
    .condition-button {
        display: flex;
        justify-content: center;
    }

    .condition-button button {
        outline: none;
        background-color: #4788dd;
        width: 120px;
        height: 40px;
        border-radius: 10px;

        color: #fff;
        font-size: 1.3rem;
    }

    .condition-button button:hover {
        background-color: #3778cd;
    }

    .condition-button button:active {
        background-color: #195db4;
    }

    .condition-button-disable button,
    .condition-button-disable button:hover,
    .condition-button-disable button:active {
        background-color: #ccc;
    }
</style>
