<template>
    <div class="date-time-picker">
        <v-dialog ref="dialog" v-model="dateModal" :return-value.sync="date"
            persistent width="290px">
            <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="date" label="Choose a date"
                    prepend-inner-icon="mdi-calendar" readonly=""
                    v-bind="attrs" v-on="on"></v-text-field>
            </template>
            <v-date-picker v-model="date" scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="dateModal = false">Cancel</v-btn>
                <v-btn text color="primary" @click="dateModal = false; saveDate()">OK</v-btn>
            </v-date-picker>
        </v-dialog>

        <v-row>
            <v-col sm="6">
                <v-select v-model="timeHour" :items="hours" label="Hour"
                    hide-details menu-props="auto" prepend-inner-icon="mdi-clock"></v-select>
            </v-col>
            <v-col sm="6">
                <v-select v-model="timeMinute" :items="minutes" label="Minutes"
                    hide-details menu-props="auto" prepend-inner-icon="mdi-clock"></v-select>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: 'DateTimePicker',
        props: ['hours', 'minutes'],
        data() {
            return {
                dateModal: false,
                date: '',
                timeHour: '',
                timeMinute: ''
            }
        },
        methods: {
            saveDate() {
                if(this.date < new Date().toISOString().substr(0, 10)) {
                    const today = new Date().toISOString().substr(0, 10);
                    this.date = today;
                    return this.$refs.dialog.save(today);
                } else {
                    this.$refs.dialog.save(this.date);
                }
            }
        },
        mounted() {
            this.$root.$on('dateTimeLoad', (date, hour, minute) => {
                this.date = date;
                this.timeHour = hour;
                this.timeMinute = minute;
            });
        },
        watch: {
            date() {
                this.$emit('dateChange', this.date);
            },
            timeHour() {
                this.$emit('hourChange', this.timeHour);
            },
            timeMinute() {
                this.$emit('minuteChange', this.timeMinute);
            }
        }
    }
</script>

<style>
    .date-time-picker {
        display: grid;
        grid-template-rows: 40px 40px;
    }
</style>
