<template>
    <div class="date-format">{{ formatDate }}</div>
</template>

<script>
    export default {
        name: 'DateFormat',
        props: { date: String },
        computed: {
            formatDate() {
                const day = this.getDate.substr(8, 2);
                const month = this.getDate.substr(5, 2);
                const year = this.getDate.substr(0, 4);
                return `${day}/${month}/${year}`;
            },
            getDate() {
                return this.date || new Date().toISOString().substr(0, 10);
            }
        }
    }
</script>

<style>
    .date-format {
        font-weight: 600;
    }
</style>
