<template>
    <div class="ellipsis-text-container">
        <div class="ellipsis-text" :style="{ '-webkit-line-clamp': lineClamp || 0 }" v-html="text" >
            {{ text || 'Text' }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'EllipsisText',
        props: { text: String, lineClamp: Number }
    }
</script>

<style>
    .ellipsis-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        text-justify: inter-word;
        word-wrap: break-word;
        hyphens: auto;
        font-size: 1.4rem;

        height: 100%;
    }
</style>
