<template>
    <div class='event-info-component'>
        <div class="event-info">
            <div class="event-info-title">Event Info</div>
            <div class="event-local">
                <font-awesome-icon icon='map-marker-alt' />
                {{ item.local }}
            </div>
            <div class="event-event-date">
                <span class="item-event-date">
                    <font-awesome-icon icon='calendar-day' />
                    <DateFormat :date='item.eventDate'/>
                </span>
                <span class="item-event-time">
                    <font-awesome-icon icon='clock' />
                    <TimeFormat :hour='item.eventHour' :minute='item.eventMinute'/>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import DateFormat from '../atoms/DateFormat';
    import TimeFormat from '../atoms/TimeFormat';

    export default {
        name: 'EventInfo',
        props: ['item'],
        components: { DateFormat, TimeFormat }
    }
</script>

<style>
    .event-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .event-info-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #5986db;
        width: 200px;

        margin-bottom: 20px;
        padding-left: 10px;
        border-bottom: #4788dd 1px solid;
    }

    .item-event-date {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .item-event-date .date-format,
    .item-event-time .time-format {
        font-weight: normal;
        margin-left: 4px;
    }

    .event-event-date {
        display: flex;
        justify-content: space-between;
        min-width: 200px;
    }

    .event-event-date,
    .event-local {
        font-size: 1.4rem;
        font-weight: normal;
        color: #4788dd;
    }

    .event-local {
        margin-bottom: 10px;
    }

</style>
