<template>
    <span class="footer-text">{{ text || 'Text' }}<a :href="`mailto:${thisEmail}`" name="email">
            <strong class="name">{{ name || 'Name' }}</strong></a></span>
</template>

<script>
    export default {
        name: "FooterText",
        props: ['text', 'name', 'email'],
        data() {
            return {
                thisEmail: this.email || ''
            }
        }
    }
</script>

<style>

</style>
