<template>
    <h1 class="title" :class="{ 'header-title': onlyHeaderTitle }">
        <button @click="pushUrl(url || '/')" :disabled="onlyHeaderTitle">{{ title || 'Title' }}</button>
    </h1>
</template>

<script>
    export default {
        name: 'HeaderTitle',
        props: ['title', 'url'],
        computed: {
            onlyHeaderTitle() {
                return this.$store.state.isAuthScreen;
            }
        },
        methods: {
            pushUrl(url) {
                if(url !== this.$route.path) {
                    this.$router.push(url);
                }
            }
        }
    }
</script>

<style>
    .title {
        text-align: center;
    }

    .title button {
        margin-top: 8px;
        outline: none;
        font-size: 2.2rem;
        color: rgb(71, 136, 221);
        font-weight: 800;
        text-decoration: none;
    }
</style>
