<template>
    <div class="icon-text">
        <font-awesome-icon class="icon-text-icon" :icon='icon || "cog"' />
        <span class="icon-text-text">{{ text || 'Text' }}</span>
    </div>
</template>

<script>
    export default {
        name: 'IconText',
        props: { text: String, icon: String }
    }
</script>

<style>
    .icon-text-icon {
        margin-right: 4px;
    }
</style>
