<template>
    <div class="item-title">{{ title }}</div>
</template>

<script>
    export default {
        name: 'ItemTitle',
        props: { title: String }
    }
</script>

<style>
    .item-title {
        text-align: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        font-size: 2.6rem;
        font-weight: 900;
        color: #444;
        border-radius: 8px;
        margin: 15px 40px;
    }
</style>
