<template>
    <div class="item-path">
        <span @click="pushUrl(url)">
            {{ getTitle }}
        </span> >
        <span v-if="item && item.category" @click="pushUrl(`${url}/${item.category.toLowerCase()}`)">
            {{ item.category }}
        </span> >
        <span v-if="item && item.category" @click="pushUrl(`${url}/${item.category.toLowerCase()}/${item.id}`)">
            {{ item.title }}
        </span>
    </div>
</template>

<script>
    export default {
        name: 'ItemPath',
        props: ['item'],
        computed: {
            getTitle() {
                return this.item && this.item.eventDate ? 'Events' : 'News';
            }
        },
        data() {
            return {
                url: ''
            }
        },
        methods: {
            setUrl() {
                this.url = this.$route.path.indexOf('/events') === 0 ? '/events' : '/news';
            },
            pushUrl(url) {
                this.$router.push(url);
            }
        },
        mounted() {
            this.setUrl();
        },
        watch: {
            $route() {
                this.setUrl();
            }
        }
    }
</script>

<style>
    .item-path {
        width: 88%;
        max-width: 770px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #888;
        font-size: 1.16rem;
        align-self: center;
        margin: 20px 40px 0 40px;
    }

    .item-path span:hover {
        cursor: pointer;
    }
</style>
