<template>
    <v-btn class="mx-2 toggle" fab x-small @click.stop="menuToggleClicked()">
        <v-icon dark>mdi-format-list-bulleted-square</v-icon>
    </v-btn>
</template>

<script>
    export default {
        name: "MenuToggleButton",
        methods: {
            menuToggleClicked() {
                this.$emit('menuToggleClicked');
            }
        }
    }
</script>

<style>

</style>
