<template>
    <div class="overlay-info">
        <div class="overlay-info-text">
            <div class="overlay-info-title">
                {{ title || 'Title' }}
            </div>
            <DateFormat :date='date' />
            <div class="overlay-info-local">
                {{ additional || 'Additional' }}
            </div>
        </div>
    </div>
</template>

<script>
    import DateFormat from '../atoms/DateFormat';

    export default {
        name: 'OverlayInfo',
        props: { date: String, title: String, additional: String },
        components: { DateFormat }
    }
</script>

<style>
    .overlay-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow-y: auto;

        background: #474747cc;
        color: #fff;
        font-size: 1.4rem;
        font-weight: bold;
        box-shadow: inset 5px 0 8px #444;
    }

    .overlay-info-text {
        margin: 15px;
        text-align: center;
    }
</style>
