<template>
    <div class="pick-image" @mouseover="showIcon(true)" @mouseleave="showIcon()">
        <img id="pick-img" :src="imageFile || require('@/assets/placeholder-image-2.jpg')" alt="image">
        <label for="pick-image-input">
            <v-icon class="pick-icon" :class="{ 'pick-hideIcon': !editIcon }"
                light size="100px">mdi-pencil-circle</v-icon>
        </label>
        <input
            id="pick-image-input"
            type="file"
            name="pick-image-input"
            style="display: none"
            accept="image/png, image/jpeg, image/jpg, image/bmp"
            @change="readURL">
    </div>
</template>

<script>
    import resizeImage from '../../utils';

    export default {
        name: 'PickImage',
        data() {
            return {
                imageFile: '',
                editIcon: false
            }
        },
        methods: {
            setImage(image) {
                this.imageFile = image || '';
                if(this.imageFile) {
                    this.$emit('hasImage', this.imageFile)
                }
            },
            showIcon(value = false) {
                this.editIcon = value;
            },
            readURL(event) {
                const input = event.target;
                if(input.files && input.files[0]) {
                    const imageFile = input.files[0];

                    if(!imageFile.type.match(/image.*/)) {
                        alert('The file is not an image!');
                        return;
                    }

                    resizeImage({ file: imageFile, maxSize: 1000 }).then((resizedImage) => {
                        this.setImage(resizedImage);
                        console.log(resizedImage);
                    }).catch(error => {
                        console.log(error);
                    })
                }
            },
        },
        mounted() {
            this.setImage();
            this.$root.$on('imageLoad', image => {
                this.setImage(image);
            });
        }
    }
</script>

<style>
    .pick-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        width: 500px;
        height: 334px;
        margin: 15px 0;
        overflow: hidden;

        transition: height 0.3s, width 0.3s;
    }

    #pick-img {
        position: absolute;
        height: 100%;
        border-radius: 10px;
    }

    .pick-icon {
        opacity: 0.75;
        text-shadow: 0 1px 5px #fff;

        transition: color 0.3s;
    }

    .pick-icon:hover {
        opacity: 0.75;
        color: #ddd;
        text-shadow: 0 1px 5px #0009;
        cursor: pointer;
    }

    .pick-hideIcon {
        opacity: 0;
    }

    @media(max-width: 797px) {
        .pick-image {
            width: 400px;
            height: 268px;
            margin: 15px 15px 0px 15px;
        }
    }
</style>
