<template>
    <div class="rounded-tag">
        <span>{{ text || 'Tag' }}</span>
    </div>
</template>

<script>
    export default {
        name: 'RoundedTag',
        props: { text: String }
    }
</script>

<style>
    .rounded-tag span {
        outline: none;
        padding: 4px 4px;
        border-radius: 20px;
        background-color: #444;
        color: #fff;
    }
</style>
