<template>
    <div class="search-field">
        <input name="searchInput" type="text" v-model='text' required />
        <font-awesome-icon class="icon" icon='search'></font-awesome-icon>
        <label>Search</label>
        <span></span>
    </div>
</template>

<script>
    export default {
        name: 'SearchField',
        data() {
            return {
                text: ''
            }
        },
        watch: {
            text() {
                this.$emit('textChange', this.text);
            }
        }
    }
</script>

<style>
    .search-field {
        position: relative;
        width: 400px;
        height: 30px;
    }

    .search-field input {
        outline: none;
        position: absolute;
        width: 94%;
        margin-left: 24px;
        padding-left: 2px;

        background: transparent;
        border: none;
        box-shadow: none;

        font-size: 16px;
        color: #444;
    }

    .search-field label {
        position: absolute;
        top: 0;
        left: 26px;
        color: #888;
        pointer-events: none;
        display: block;
        transition: 0.5s;
    }

    .search-field .icon {
        color: #888;
        transition: 0.5s;
    }

    .search-field input:focus + .icon,
    .search-field input:valid + .icon {
        color: #4788dd;
    }

    .search-field input:focus ~ label,
    .search-field input:valid ~ label {
        transform: translateY(-20px);
        font-size: 14px;
        color: #4788dd;
    }

    .search-field span {
        position: absolute;
        bottom: 2px;
        right: 0;
        display: block;
        background: #888;
        width: 100%;
        height: 1px;
    }

    .search-field span::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #4788dd;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }

    .search-field input:focus ~ span::before,
    .search-field input:valid ~ span::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }

</style>
