<template>
    <div class="text-field-select">
        <v-text-field v-model="mText" :label="textLabel" :rules="rules"
            hide-details="auto" clearable :counter="textCounter"></v-text-field>
        <v-select v-model="mSelect" :items="selectItems" menu-props="auto"
            hide-details :label="selectLabel"></v-select>
    </div>
</template>

<script>
    export default {
        name: 'TextFieldSelect',
        props: ['textLabel', 'textRules', 'textCounter', 'selectItems', 'selectLabel', 'text', 'select'],
        data() {
            return {
                mText: this.text,
                mSelect: this.select,
                rules: this.textRules || []
            }
        },
        mounted() {
            this.$root.$on('textSelectLoad', (text, select) => {
                this.mText = text || '';
                this.mSelect = select || '';
            });
        },
        watch: {
            mText() {
                this.$emit('changeText', this.mText);
            },
            mSelect() {
                this.$emit('changeSelect', this.mSelect);
            }
        }
    }
</script>
