<template>
    <div class="text-switch">
        <v-switch v-model="switchState" color="green"
            class="mt-4" height="0px" ></v-switch>
        <ConditionText :condition='switchState'
            :text1='textOn' text1Color='#2a2'
            :text2='textOff' text2Color='#ff7300' />
    </div>
</template>

<script>
    import ConditionText from './ConditionText';

    export default {
        name: 'TextSwitch',
        props: ['textOn', 'textOff'],
        components: { ConditionText },
        data() {
            return {
                switchState: false
            }
        },
        mounted() {
            this.$root.$on('switchLoad', state => this.switchState = state);
        },
        watch: {
            switchState() {
                this.$emit('changeState', this.switchState);
            }
        }
    }
</script>

<style>
    .text-switch {
        display: flex;
        align-items: center;
    }

    .switch-status {
        font-size: 1.2rem;
    }
</style>
