<template>
    <a class="text-button" @click.stop="textButtonClicked()">
        {{ buttonLabel }}
    </a>
</template>

<script>
    export default {
        name: 'TextButton',
        props: { buttonLabel: String },
        methods: {
            textButtonClicked() {
                this.$emit('textButtonClicked');
            }
        }
    }
</script>

<style>
</style>
