<template>
    <span class="time-format">{{ hour || '00' }}:{{ minute || '00' }}</span>
</template>

<script>
    export default {
        name: 'TimeFormat',
        props: { hour: String, minute: String }
    }
</script>

<style>

</style>
