<template>
    <div class="title-subtitle">
        <h1><font-awesome-icon v-if="icon" :icon="icon" /> {{ main || 'Main' }}</h1>
        <h2>{{ sub || 'Sub' }}</h2>
    </div>
</template>

<script>
    export default {
        name: 'TitleSubtitle',
        props: { main: String, sub: String, icon: { type: String, required: false } }
    }
</script>

<style>
    .title-subtitle {
        font-size: 1.4rem;
    }
</style>
