<template>
    <div class="user-button" @click.stop="buttonClicked()">
        <v-avatar size="35px" color="#fff" >
            <v-icon class="icon" color="black">mdi-account-circle</v-icon>
        </v-avatar>
    </div>
</template>

<script>
    export default {
        name: "UserButton",
        methods: {
            buttonClicked() {
                this.$emit('buttonClicked');
            }
        }
    }
</script>

<style>
    .user-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
        font-weight: 100;
        height: 100%;
    }

    .user-button .icon {
        border: 1px solid #8885;
    }

    .user-button .icon:hover {
        background-color: #cfd8dc;
        cursor: pointer;
    }

    .user-button .icon:active {
        background: radial-gradient(#aaa, #cfd8dc);
        box-shadow: inset 0 1px 5px #0005;
    }
</style>
