<template>
    <div class="user-dropdown-content" :class="{ 'user-menu': isUserMenuVisible, 'not-admin': !isAdmin && isUserMenuVisible }"
        v-click-outside="hide" >

        <button v-if='checkUser' class="user-dropdown-item" @click.stop="clicked('administration'); hide();">
            <span class="user-dropdown-item-icon"><font-awesome-icon icon="cog" /></span>
            <span class="user-dropdown-item-text">Admin</span>
        </button>
        <button v-if="isLogged" class="user-dropdown-item" @click.stop="clicked('logout'); hide();">
            <span class="user-dropdown-item-icon"><font-awesome-icon icon="sign-out-alt" /></span>
            <span class="user-dropdown-item-text">Logout</span>
        </button>
        <button v-if="!isLogged" class="user-dropdown-item" @click.stop="clicked('login'); hide();">
            <span class="user-dropdown-item-icon"><font-awesome-icon icon="sign-in-alt" /></span>
            <span class="user-dropdown-item-text">Login</span>
        </button>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import ClickOutside from 'vue-click-outside';

    export default {
        name: 'UserDropdownContent',
        directives: { ClickOutside },
        computed: {
            ...mapState(['isUserMenuVisible']),
            checkUser() {
                const user = JSON.parse(localStorage.getItem('__fsp_user'));
                if(user) return user.isAdmin;
                return false;
            },
            isLogged() {
                const user = JSON.parse(localStorage.getItem('__fsp_user'));
                if(user) {
                    return !!user.email;
                }
                return false;
            }
        },
        data() {
            return {
                isAdmin: false
            }
        },
        methods: {
            clicked(target) {
                this.$emit('clicked', target);
            },
            hide() {
                this.$store.state.isUserMenuVisible = false;
            }
        },
        mounted() {
            this.isAdmin = this.checkUser;
        }
    }
</script>

<style>
    .user-dropdown-item {
        outline: none;
        text-decoration: none;
        text-align: start;
        margin: 5px 0px 5px 0px;
    }

    .user-dropdown-item:hover {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .user-dropdown-item-text {
        color: #333;
        margin: 10px 5px 0px 10px;
    }

    .user-dropdown-item-icon {
        color: #333;
        margin: 5px 0 0px 10px;
    }

    .user-dropdown-content {
        width: 150px;
        height: 100px;
        font-size: 1.4rem;
        border-radius: 0 0 0 5px;
        background: linear-gradient(to bottom, #f9f9f9, #fffb);
        color: #333;
        box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        opacity: 1;

        transform-origin: top;
        transform: translateX(150px);
        transition: transform 0.2s;
    }

    .user-menu {
        transform: translateX(0px);
    }

    .not-admin {
        height: 50px;
    }
</style>
