<template>
    <v-form ref="form">
        <v-text-field v-if="signup" v-model="username" :counter="20" label="Username" clearable
            required :rules="formRules.rules.usernameRules"></v-text-field>
        <v-text-field v-model="email" label="E-mail" clearable
            required :rules="formRules.rules.emailRules"></v-text-field>
        <v-text-field v-if="signup" v-model="password" label="Password" :append-icon="hidePassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="() => (hidePassword = !hidePassword)" :type="hidePassword ? 'password' : 'text'"
            required :rules="formRules.rules.passwordRules" clearable ></v-text-field>
        <v-text-field v-else v-model="password" label="Password" :append-icon="hidePassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="() => (hidePassword = !hidePassword)" :type="hidePassword ? 'password' : 'text'"
            required :rules="[v => !!v || 'Password is required!']" clearable ></v-text-field>
        <v-text-field v-if="signup" v-model="confirmPassword" label="Confirm password"
            :append-icon="hideConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="() => (hideConfirmPassword = !hideConfirmPassword)" :type="hideConfirmPassword ? 'password' : 'text'"
            required :rules="formRules.rules.confirmPasswordRules" clearable></v-text-field>
    </v-form>
</template>

<script>
    import rules from '@/config/auth_rules/rules.js';

    export default {
        name: 'AuthForm',
        props: { signup: Boolean, alert: Boolean },
        data() {
            return {
                username: '',
                email: '',
                password: '',
                confirmPassword: '',
                hidePassword: true,
                hideConfirmPassword: true,
                formRules: { ...rules },
                admin: false,
                isFormComplete: false
            }
        },
        methods: {
            resetFields() {
                this.username = "";
                this.email = "";
                this.password = "";
                this.confirmPassword = "";
                this.$refs.form.resetValidation();
            },
            isRulesRespected() {
                const email = !!this.email && this.formRules.emailRegex.test(this.email);

                if(this.$route.query.s === 'signup') {
                    const username = !!this.username && this.username.length <= 20;
                    const password = !!this.password && this.formRules.passwordRegex.test(this.password);
                    const confirmPassword = !!this.confirmPassword;
                    return (username && email && password && confirmPassword);
                }
                return email && !!this.password;
            },
            resetPasswordField() {
                this.password = '';
                this.confirmPassword = '';
                this.$refs.form.resetValidation();
                this.$emit('passwordReset');
            }
        },
        mounted() {
            this.resetFields();
        },
        watch: {
            $route() {
                this.resetFields();
                this.isFormComplete = false;
            },
            isFormComplete() {
                this.$emit('formComplete', this.isRulesRespected());
            },
            username() {
                this.isFormComplete = this.isRulesRespected();
                this.$emit('formData', { username: this.username, email: this.email, password: this.password });
            },
            email() {
                this.isFormComplete = this.isRulesRespected();
                this.$emit('formData', { username: this.username, email: this.email, password: this.password });
            },
            password() {
                this.$emit('passwordChange', this.password);
                this.isFormComplete = this.isRulesRespected();
                this.$emit('formData', { username: this.username, email: this.email, password: this.password });
            },
            confirmPassword () {
                this.$emit('confirmPasswordChange', this.confirmPassword);
                this.isFormComplete = this.isRulesRespected();
            },
            alert() {
                this.resetPasswordField();
            }
        }
    }
</script>

<style>

</style>
