<template>
    <v-date-picker v-model="day" @click:date="clickedDate(day)" event-color="purple" color="blue darken-2"
            :events="events || null" :width="width" :full-width="!width" :min="new Date().toISOString()" no-title scrollable/>
</template>

<script>
    export default {
        name: 'Calendar',
        props: ['width', 'events'],
        data() {
            return {
                day: new Date().toISOString().substr(0, 10)
            }
        },
        methods: {
            clickedDate(day) {
                this.$emit('clickDate', day);
            }
        }
    }
</script>

<style>

</style>
