<template>
    <v-data-table fixed-header :headers='headers' :search="search"
        :items='items' :sort-by='sortBy' class='elevation-1'
        :loading='loading' :hide-default-footer='items.length === 0'>
        <template v-slot:top>
            <v-toolbar flat :color='toolbarColor'>
                <v-toolbar-title class="white--text">{{ tableTitle }}</v-toolbar-title>
                <v-divider class="mx-4 grey lighten-1" inset vertical></v-divider>
                <v-text-field v-model="search" prepend-inner-icon="mdi-magnify"
                    label="Search" hide-details dark single-line></v-text-field>
                <v-spacer></v-spacer>
                <ButtonWithIcon @buttonClick="buttonClicked()"
                    :buttonTitle='buttonTitle' :iconColor='iconColor'
                    :buttonIcon='buttonIcon' />
            </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
            <v-icon small
                class="mr-2" color="orange"
                @click="editClicked(item)">mdi-pencil</v-icon>
            <v-icon small color="red darken-4"
                @click="deleteClicked(item)">mdi-delete</v-icon>
        </template>
    </v-data-table>
</template>

<script>
    import ButtonWithIcon from '../atoms/ButtonWithIcon';

    export default {
        name: 'DataTable',
        props: [ 'tableTitle', 'headers', 'items', 'sortBy', 'loading', 'toolbarColor',
                'buttonTitle', 'iconColor', 'buttonIcon'],
        components: { ButtonWithIcon },
        data() {
            return {
                search: ''
            }
        },
        methods: {
            buttonClicked() {
                this.$emit('buttonClick');
            },
            editClicked(item) {
                this.$emit('editClick', item);
            },
            deleteClicked(item) {
                this.$emit('deleteClick', item);
            }
        }
    }
</script>
