<template>
    <div class="info-list">
        <div class="info-list-header">
            <div class="header-one">{{ headerOne }}</div>
            <div class="header-two">{{ headerTwo }}</div>
        </div>
        <CustomDivider />
        <div class="info-list-items" v-for="item of items" :key="item.id">
            <div class="info-list-row" @click="rowClicked(item)">
                <div class="info-list-title">{{ item.title }}</div>
                <div class="info-list-additional">{{ item.local || item.content }}</div>
            </div>
            <CustomDivider />
        </div>
    </div>
</template>

<script>
    import CustomDivider from '../atoms/CustomDivider.vue';

    export default {
        name: 'InfoRow',
        components: { CustomDivider },
        props: { headerOne: String, headerTwo: String, items: Array },
        data() {
            return {
                itemList: this.items
            }
        },
        methods: {
            rowClicked(item) {
                this.$emit('rowClick', item);
            }
        }
    }
</script>

<style>
    .info-list {
        margin: 15px;
        width: 92%;
    }

    .info-list-header {
        color: #4788dd;
        font-size: 1.2rem;
        display: flex;
        width: 100%;
    }

    .header-one {
        flex: 1;
        margin-left: 10px;
    }

    .header-two {
        flex: 0.5;
    }

    .info-list-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #444;
    }

    .info-list-row {
        display: flex;
        align-items: flex-start;
        padding: 0 5px;
        height: 100%;
        width: 100%;
    }

    .info-list-row:hover {
        background-color: #4788dd45;
        border-radius: 8px;
        cursor: pointer;
    }

    .info-list .custom-divider {
        width: 100%;
        height: 1px;
        margin: 5px 0;
        background: linear-gradient(to right, #4788dd55, #4788dd, #4788dd55);
    }

    .info-list .date-format {
        font-weight: 400;
    }

    .info-list-title {
        flex: 1;
        width: 250px;
        margin: 0 5px;
        padding-left: 5px;
    }

    .info-list-additional {
        flex: 0.5;
        border-left: 1px solid;
        border-image: linear-gradient(to bottom, #fff0, #344b66, #fff0) 1 100%;
        margin-left: 5px;
        padding-left: 5px;
    }
</style>
