<template>
    <div class="list-item-container">
        <div class="list-item" @click="itemClicked()">
            <div class="list-item-content">
                <h2 class="list-item-title">{{ item ? item.title : 'Title' }}</h2>
                <div class="list-item-info-date">
                    <h3 v-if="!isCategoryList" class="list-item-info">
                        {{ item ? getInfo : '' }}
                    </h3>
                    <h5 class="list-item-date">
                        <DateFormat :date='item ? getDate : ""' />
                    </h5>
                </div>
            </div>
            <CustomDivider />
            <div class="list-item-image">
                <img class="list-image" :src="image" alt="image">
            </div>
        </div>
    </div>
</template>

<script>
    import CustomDivider from '../atoms/CustomDivider';
    import DateFormat from '../atoms/DateFormat';

    export default {
        name: 'ListItem',
        props: ['item'],
        components: { CustomDivider, DateFormat },
        computed: {
            getInfo() {
                return this.item.local || this.item.category;
            },
            getDate() {
                return this.item.eventDate || this.item.date;
            },
            isCategoryList() {
                const route = this.$route;
                return (route.path.indexOf('/news') === 0 || route.params.categoryId) ? true : false;
            }
        },
        data() {
            return {
                image: require("@/assets/placeholder-image.jpg")
            }
        },
        methods: {
            setImage() {
                const image = this.item ? this.item.img : '';
                this.image = image || require("@/assets/placeholder-image.jpg");
            },
            itemClicked() {
                this.$emit('itemClick');
            }
        },
        mounted() {
            this.setImage();
        },
        watch: {
            $route() {
                this.setImage();
            }
        }
    }
</script>

<style>
    .list-item-container {
        transition: margin-left 0.2s;
    }

    .list-item {
        display: flex;
        margin: 15px;
        padding: 5px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 1px #0005, 0 0 3px #0003;
        justify-content: flex-start;
        align-items: center;
        height: 120px;
        min-width: 300px;

        transition: all 0.5s;
    }

    .list-item:hover {
        cursor: pointer;
        background-color: #ddd;
        box-shadow: 0 0 1px #0005, 0 0 6px #0003;
        height: 150px;
    }

    .list-item:active {
        background-color: #eee;
        margin-right: 11%;
    }

    .list-item-image {
        height: 100px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid #8884;
        margin: 5px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-image {
        height: 100px;
        border-radius: 5px;
    }

    .list-item .custom-divider {
        width: 1px;
        height: 100px;
        background: transparent;
        border: 0;
        margin-left: 5px;
    }

    .list-item-content {
        flex: 1;
        margin-left: 10px;
        width: 500px;
        height: 100px;
        color: #333;
    }

    .list-item-title {
        margin: 0px 15px 1px 0;
        font-size: 1.2rem;
        width: 100%;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        text-justify: inter-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    .list-item-info-date {
        display: flex;
        flex-direction: column;
    }

    @media(max-width: 600) {
        .list-item-content {
            width: 400px;
        }
    }
</style>
