<template>
    <div class="page-title">
        <div class="page-title-text">
            <TitleSubtitle :main='main' :sub='sub' :icon='icon' />
        </div>
        <img v-if="img" class="page-title-img" :src="imgTiny" alt="page-title-image">
    </div>
</template>

<script>
    import TitleSubtitle from '../atoms/TitleSubtitle';

    export default {
        name: "PageTitle",
        props: ["icon", "main", "sub", "img", "imgTiny"],
        components: { TitleSubtitle },
        methods: {
            setImage() {
                const image = document.getElementsByTagName("img")[0];
                const loadImage = document.createElement("img");

                loadImage.onload = function() {
                    image.src = this.src;
                }

                setTimeout(() => {
                    loadImage.src = this.img;
                }, 50);
            }
        },
        mounted() {
            this.setImage();
        }
    }
</script>

<style>
    .page-title {
        align-items: center;
        position: relative;
        overflow: hidden;
        margin: 15px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
        background: linear-gradient(to right, #777, #999d, #777);
        color: #fff;

        transition: margin 0.2s;
    }

    .page-title-text {
        position: absolute;
        font-size: 1.4rem;
        margin: 15px;
    }

    .page-title-img {
        width: 100%;
    }

    .page-title h2 {
        font-weight: 300;
    }

    @media(min-width: 1000px) {
        .page-title {
            margin-right: 15%;
            margin-left: 15%;
        }
    }
</style>
