<template>
    <v-snackbar v-model='snackbar' top center :color='color'
        :timeout='timeout' rounded='pill' >
        {{ text }}

        <template v-slot:action='{ attrs }'>
            <v-btn dark text v-bind='attrs' @click='snackbar = false'>
                X
            </v-btn>
        </template>
    </v-snackbar>
</template>

<script>
    export default {
        name: 'Snackbar',
        props: ['call', 'callText', 'callColor'],
        data() {
            return {
                snackbar: false,
                text: "",
                timeout: 6000,
                color: ""
            }
        },
        methods: {
            show() {
                this.color = this.callColor;
                this.text = this.callText;
                this.snackbar = this.call;
            }
        },
        mounted() {
            this.show();
        }
    }
</script>
