<template>
    <div class="stat">
    <router-link :to="url" >
        <div class="stat-icon">
            <v-icon size="9rem" :style="style">{{ icon }}</v-icon>
        </div>
        <div class="stat-info">
            <div class="stat-title" :style="style">{{ title }}</div>
            <div class="stat-value" :style="style">{{ value }}</div>
        </div>
    </router-link>
    </div>
</template>

<script>
    export default {
        name: "Stat",
        props: ["url", "title", "value", "icon", "color"],
        computed: {
            style() {
                return "color: " + (this.color || "#000");
            }
        }
    }
</script>

<style>
    .stat {
        flex: 1;
        border-radius: 20px;
        margin: 0 15px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 1px 5px #0005;

        transition: all 0.5s;
    }

    .stat > a {
        display: flex;
        padding: 10px;
        text-decoration: none;
    }

    .stat:hover {
        background-color: #f5f5f5;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
        transform: translateY(-10px);
    }

    .stat:active {
        background-color: #eee;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .stat-icon {
        display: flex;
        align-items: center;
    }

    .stat-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .stat-title {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 5px 15px 0 0;
    }

    .stat-value {
        font-size: 3.2rem;
        font-weight: 700;
        padding: 0 10px 0 0;
    }
</style>
