<template>
    <div class="tag-date-text" @click="tagDateTextClicked()">
        <div class="tag-date">
            <RoundedTag :text='tag' />
            <DateFormat :date='date' />
        </div>
        <CustomDivider />
        <div class="ellipsis-text-component">
            <EllipsisText :text='text' :lineClamp='lineClamp' />
        </div>
    </div>
</template>

<script>
    import RoundedTag from '../atoms/RoundedTag';
    import DateFormat from '../atoms/DateFormat';
    import CustomDivider from '../atoms/CustomDivider';
    import EllipsisText from '../atoms/EllipsisText';

    export default {
        name: 'TagDateText',
        components: { RoundedTag, DateFormat, CustomDivider, EllipsisText },
        props: { tag: String, date: String, text: String, lineClamp: Number },
        methods: {
            tagDateTextClicked() {
                this.$emit('tagDateTextClick');
            }
        }
    }
</script>

<style>
    .tag-date {
        display: flex;
        margin: 5px 20px;
    }

    .tag-date .date-format {
        margin-left: 15px;
        font-weight: 600;
        align-self: center;
    }

    .tag-date-text .custom-divider {
        height: 1px;
        background-color: #3335;
    }

    .ellipsis-text-component {
        display: flex;
        flex-direction: column;
        margin: 15px 20px;
        min-height: 140px;
    }
</style>
