<template>
    <div class="text-with-button">
        <span>{{ text }} <TextButton @textButtonClicked='textButtonClicked()' :buttonLabel='buttonLabel' /></span>
    </div>
</template>

<script>
    import TextButton from '../atoms/TextButton';

    export default {
        name: 'TextWithButton',
        props: { text: String, buttonLabel: String },
        components: { TextButton },
        methods: {
            textButtonClicked() {
                this.$emit('textButtonClicked');
            }
        }
    }
</script>

<style>
    .text-with-button span .text-button {
        text-decoration: none;
        color: #fff;
        background-color: #195db4;
        padding: 5px;
        border-radius: 8px;
    }
</style>
