<template>
    <div class="user-dropdown">
        <UserButton @buttonClicked="dropdownToggle()" />
        <UserDropdownContent @clicked="pushUrl($event)" />
    </div>
</template>

<script>
    import UserButton from '../atoms/UserButton';
    import UserDropdownContent from '../atoms/UserDropdownContent';

    export default {
        name: 'UserDropdown',
        components: { UserButton, UserDropdownContent },
        methods: {
            dropdownToggle() {
                this.$store.commit('userMenu');
                this.$store.commit('toggleMenu', false);
            },
            pushUrl(event) {
                if(event === 'administration') {
                    if(this.$route.path !== '/administration/1') this.$router.push('/' + event);
                } else {
                    if(event == 'logout') {
                        localStorage.setItem('__fsp_user', '{}');
                    }

                    this.$router.push({ path: '/auth', query: { s: 'login' } });
                }
            }
        }
    }
</script>
