<template>
    <div class="auth-card">
        <h3 class="auth-card-title">Full-Stack Project</h3>
        <CustomDivider />

        <AuthForm :signup='signup' @formComplete='buttonCondition($event)' :alert='alert' @passwordReset='alert = false'
            @passwordChange='password = $event'  @confirmPasswordChange='confirmPassword = $event'
            @formData='formData = $event' />

        <ConditionButton v-if='signup' :condition='enableButton' buttonLabel='Register' @buttonClick='register()'/>
        <ConditionButton v-else :condition='enableButton' buttonLabel='Login' @buttonClick='login()'/>

        <div class="auth-card-ref">
            <TextWithButton @textButtonClicked='signup = !signup; updateQuery("signup")' v-if="!signup"
                text="Don't have an account yet?" buttonLabel='Sign Up' />
            <TextWithButton @textButtonClicked='signup = !signup; updateQuery("login")' v-else
                text="Already have an account?" buttonLabel='Login' />
        </div>
    </div>
</template>

<script>
    import CustomDivider from '../atoms/CustomDivider';
    import AuthForm from '../molecules/AuthForm';
    import ConditionButton from '../atoms/ConditionButton';
    import TextWithButton from '../molecules/TextWithButton';

    export default {
        name: 'AuthCard',
        components: { AuthForm, CustomDivider, ConditionButton, TextWithButton },
        data() {
            return {
                signup: true,
                enableButton: false,
                password: '',
                confirmPassword: '',
                alert: false,
                formData: {}
            }
        },
        methods: {
            updateQuery(screen) {
                this.$router.push({ query: { s: screen } });
            },
            setSignup() {
                const screen = this.$route.query.s;
                if(screen === 'signup') {
                    this.signup = true;
                } else if(screen === 'login') {
                    this.signup = false;
                } else {
                    this.$router.push({ query: { s: 'signup' } });
                }
            },
            clicked() {
                console.log('clicked');
            },
            buttonCondition(isCompleted) {
                this.enableButton = isCompleted;
            },
            register() {
                if(this.password === this.confirmPassword) {
                    this.$emit('register', {...this.formData});
                } else {
                    this.password = "";
                    this.confirmPassword = "";
                    this.alert = true;
                    alert('Password fields doesn\'t match!');
                }
            },
            login() {
                this.$emit('login', { email: this.formData.email, password: this.formData.password });
            }
        },
        mounted() {
            this.setSignup();
        },
        watch: {
            $route() {
                this.setSignup();
                this.buttonCondition(false);
            }
        }
    }
</script>

<style>
    .auth-card {
        z-index: 1;
        width: 450px;
        top: 80px;
        margin: 20px;
        padding: 15px 20px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border: 1px solid rgba(80, 80, 80, 0.3);
        background: #ddd;
    }

    .auth-card-title {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.8rem;
        color: #444;
    }

    .auth-card .custom-divider {
        background: linear-gradient(to right, #3330, #333, #3330);
        height: 1px;
        margin: 15px 0 10px 0;
    }

    .auth-card-ref {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 20px;
    }
</style>
