<template>
    <div class="calendar-events">
        <div class="calendar-events-panel">
            <div class="calendar-events-title">Day Events</div>
            <div v-if='!data' class="calendar-events-placeholder">No events were created...</div>
            <div v-else-if="(events && selectedDay.length === 0)"
                class="calendar-events-placeholder">Select a day with some event...</div>
            <div v-else class="calendar-events-list">
                <InfoList headerOne="Name" headerTwo="Local"
                    @rowClick='getItem($event)' :items='selectedDay' />
            </div>
        </div>
        <Calendar @clickDate='getDayList($event)' :events='data ? [...data].filter(e => e.visibility === true).map(e => e.eventDate) : []' />
        <ConfirmModal v-if="showEventModal" :showModal="showEventModal" :item="event"
            @hide="hideModal()" @confirm="pushEventUrl();" />
    </div>
</template>

<script>
    import InfoList from '../molecules/InfoList';
    import Calendar from '../molecules/Calendar';
    import ConfirmModal from './ConfirmModal';

    export default {
        name: 'CalendarEvents',
        components: { InfoList, Calendar, ConfirmModal },
        props: ['data'],
        data() {
            return {
                selectedDay: [],
                events: null,
                event: {},
                showEventModal: false,
                day: new Date().toISOString().substr(0, 10)
            }
        },
        methods: {
            getDayList(day) {
                const date = day;
                const array = [];

                if(this.data) {
                    for(let event of this.data) {
                        if(event.eventDate == date && event.visibility === true) {
                            array.push(event);
                        }
                    }
                }

                this.selectedDay = array;
            },
            getItem(item) {
                this.event = item;
                this.showEventModal = true;
            },
            pushEventUrl() {
                this.$router.push(`/events/${this.event.category.toLowerCase()}/${this.event.id}`);
            },
            hideModal() {
                this.showEventModal = false;
            }
        },
        mounted() {
            this.getDayList(this.day);
            this.events = this.data ? [...this.data].map(event => event.eventDate) : [];
        }
    }
</script>

<style>
    .calendar-events {
        width: 500px;
        height: 491px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 2px 5px rgba(80, 80, 80, 0.5);
    }

    .calendar-events-panel {
        overflow-y: auto;
        height: 201px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calendar-events-title {
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: 500;
        color: #4788dd;
    }

    .calendar-events-placeholder {
        font-size: 1.5rem;
        color: #444;
        margin-top: 40px;
    }

    .calendar-events .header-one {
        margin-left: 10px;
        width: 95px;
    }

    .calendar-events .header-two {
        width: 235px;
    }
</style>
