<template>
    <div class="category-item">
        <div class="category-item-title-row">
            <div class="category-item-title">{{ category || 'Category' }}</div>
            <TextButton @textButtonClicked='moreClicked' buttonLabel='more' />
        </div>
        <CustomDivider class="category-item-divider" />
        <div class="category-item-list">
            <div v-for="item in items" :key="item.id" @click="itemClicked(item)" >
                <ListItem :item='item' />
            </div>
        </div>
    </div>
</template>

<script>
    import CustomDivider from '../atoms/CustomDivider';
    import ListItem from '../molecules/ListItem';
    import TextButton from '../atoms/TextButton';

    export default {
        name: 'CategoryItem',
        components: { CustomDivider, ListItem, TextButton },
        props: ['category', 'items'],
        methods: {
            moreClicked() {
                this.$emit('moreClick', this.category);
            },
            itemClicked(item) {
                this.$emit('itemClick', item);
            }
        }
    }
</script>

<style>
    .category-item {
        width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .category-item .category-item-divider {
        height: 3px;
        width: 100%;
        background: linear-gradient(to right, #0e59bb, #4788dd);
    }

    .category-item-title-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding-left: 40px;
        padding-right: 20px;
    }

    .category-item-title-row .text-button {
        height: 30px;
        text-shadow: none;

        transition: all 0.3s;
    }

    .category-item-title-row .text-button:hover {
        text-shadow: 0 0 4px #0e59bb, 0 0 8px #4788dd;
        color: #fff;
    }

    .category-item-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #4788dd;

        align-self: flex-start;
    }

    .category-item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-item-list .list-item {
        position: relative;

        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        width: auto;
        min-width: 400px;

        background-color: #fff;

        transition: all 0.5s;
    }

    .category-item-list .list-item:hover {
        height: 120px;
        transform: translateX(20px);
        background-color: #f2f2f2;
    }

    .category-item-list .list-item:active {
        transform: translateX(10px);
    }

    @media(max-width: 700px) {
        .category-item-list .list-item {
            width: 400px;
        }
    }
</style>
