<template>
    <div class="category-management">
        <v-dialog v-model="dialog" max-width="600px" persistent>
            <div>
                <v-card class="mx-auto" max-width="600px">
                    <v-card-title class="pa-5 text-h4">
                        Category Management
                    </v-card-title>

                    <div class="category-form">
                        <div class="category-text-field">
                            <v-text-field v-model="categoryTitle" label="Title" hide-details="auto"
                                :rules="rules" counter="30" clearable></v-text-field>
                        </div>
                        <div class="category-select">
                            <v-select v-model="choice" :items="choices" label="Type"
                                hide-details menu-props="auto"></v-select>
                        </div>
                    </div>

                    <ActionButtons button1Text='Save' button1Color='green white--text'
                        button2Text='Cancel' button2Color='grey darken-3 white--text'
                        :disable='!categoryTitle || categoryTitle.length < 3 || categoryTitle.length > 30'
                        @actionButtonClick='dialog = false; confirm($event)' />
                </v-card>
            </div>
        </v-dialog>
    </div>
</template>

<script>
    import ActionButtons from '../atoms/ActionButtons';

    export default {
        name: "CategoryManagement",
        props: ["category"],
        components: { ActionButtons },
        data() {
            return {
                dialog: false,
                categoryTitle: this.category.title,
                rules: [
                    value => !!value || "Title is required.",
                    value => (value && value.length >= 3) || "Min 3 characters"
                ],
                choice: this.category.type,
                choices: [
                    "Both", "News", "Events"
                ]
            }
        },
        methods: {
            confirm(choice = false) {

                if(choice) {
                    const lastItem = this.$store.state.categories.length - 1;

                    const isEmpty = !this.$store.state.categories.length > 0;

                    const newId = !isEmpty ? (parseInt(this.$store.state.categories[lastItem].id) + 1).toString() : '1';

                    const payload = {
                        type: 'categories',
                        data: {
                            id: this.category.id || newId,
                            title: this.categoryTitle,
                            type: this.choice
                        }
                    }

                    const sameName = this.$store.getters.getData('categories')
                        .filter(c => c.title.toLowerCase() === payload.data.title.toLowerCase());

                    if((sameName.length === 0 && !this.category.id) || this.category.id) {
                        this.$store.dispatch(this.category.id ? 'update' : 'insert', payload).then(() => {
                            this.$emit('confirm', choice);
                        }).catch(error => console.log(error));
                    } else {
                        this.$emit('confirm', 'exists');
                    }
                } else {
                    this.$emit("confirm", choice);
                }
            }
        },
        mounted() {
            this.dialog = true;
        },
        watch: {
            $route() {
                this.dialog = true;
            }
        }
    }
</script>

<style>
    .category-form {
        display: flex;
        width: 90%;
        margin: 0 5%;
    }

    .category-text-field {
        margin-right: 5%;
        width: 100%;
    }

    @media(max-width: 520px) {
        .category-form {
            flex-direction: column;
            margin-bottom: 25px;
        }
    }
</style>
