<template>
    <div class="confirm-modal">
        <v-dialog v-model="dialog" max-width="500">
            <div class="modal-content" @click="confirm()">
                <img :src="getImage" alt="image">
                <OverlayInfo :title='item.title' :date='item.eventDate' :additional='item.local' />
            </div>
        </v-dialog>
    </div>
</template>

<script>
    import OverlayInfo from '../atoms/OverlayInfo';

    export default {
        name: "ConfirmModal",
        props: ["item", "showModal"],
        components: { OverlayInfo },
        computed: {
            getImage() {
                return this.item.img || require('@/assets/abstract-grey-scale.png');
            }
        },
        data() {
            return {
                dialog: false
            }
        },
        methods: {
            hide() {
                this.$emit('hide');
            },
            confirm() {
                this.$emit('confirm');
            }
        },
        mounted() {
            this.dialog = this.showModal;
        },
        watch: {
            dialog() {
                if(!this.dialog) {
                    this.hide();
                }
            }
        }
    }
</script>

<style>
    .modal-content {
        position: relative;
        display: flex;
        align-items: center;
        width: 500px;
        height: 300px;
        overflow: hidden;
        background-color: #444;
    }

    .v-application .v-dialog__content .v-dialog {
        border-radius: 15px;
    }

    .modal-content:hover {
        cursor: pointer;
    }

    .modal-content img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    .modal-content .overlay-info {
        height: 100%;
        width: 52%;
        background: linear-gradient(to left, #f9f9f9 96%, transparent);
        color: #444;
        box-shadow: none;
        right: 0;
    }
</style>
