<template>
    <div class="content">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Content"
    }
</script>

<style>
    .content {
        overflow: auto;
        background-color: #fff;
    }
</style>
