<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="400">
            <v-card class="mx-auto" max-width="400">
                <v-img v-if="cardType !== 'categories'" class="white--text align-end"
                    height="200px"
                    :src="getImage">
                </v-img>

                <v-card-title class="pa-5 pb-7">Are you sure you want to delete?</v-card-title>

                <v-card-subtitle class="pb-0 text--primary">
                    <div>Title: {{ getTitle }}</div>
                    <div v-if="cardType === 'events'">
                        Date: {{ item.eventDate }}<br>
                        Local: {{ item.local }}
                    </div>
                    <div v-if="cardType === 'categories'">Type: {{ item.type }}</div>

                    <CustomDivider class="card-divider" />
                    <ConditionText v-if="cardType === 'events'"
                        :condition='item.visibility'
                        text1='Public' text2='Private'
                        text1Color='#2a2' text2Color='#ff7300' />
                </v-card-subtitle>

                <ActionButtons button1Text='Delete' button1Color='red darken-3 white--text'
                    button2Text='Cancel' button2Color='grey darken-3 white--text'
                    @actionButtonClick='dialog = false; confirm($event)' />
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import ActionButtons from '../atoms/ActionButtons';
    import ConditionText from '../atoms/ConditionText';
    import CustomDivider from '../atoms/CustomDivider';

    export default {
        name: "NewsDeleteCard",
        props: ["item", "cardType", "showDialog"],
        components: { ActionButtons, ConditionText, CustomDivider },
        computed: {
            getImage() {
                return this.item.image || require('@/assets/placeholder-image.jpg');
            },
            getTitle() {
                return this.item.title || "No title";
            }
        },
        data() {
            return {
                dialog: false
            }
        },
        methods: {
            show() {
                this.dialog = this.showDialog;
            },
            confirm(choice = false) {
                this.$emit("confirm", choice);
            }
        },
        mounted() {
            this.show();
        }
    }
</script>

<style>
    .card-divider {
        margin: 10px;
    }
</style>
