<template>
    <div class="event-card" @click="eventClicked()">
        <div class="event-card-image">
            <img :src="item ? item.img : require('@/assets/placeholder-image.jpg')" alt="image">
        </div>
        <div class="event-card-info">
            <div class="event-card-title">{{ item ? item.title : 'Some Title of Some Event' }}</div>
            <EllipsisText :lineClamp='5' :text='item ? item.content : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget vestibulum nisi. Vestibulum et rhoncus purus. Ut nibh diam, lobortis iaculis dignissim sit amet, hendrerit ac nunc. Praesent venenatis lobortis sagittis. Vivamus at turpis turpis. Suspendisse ullamcorper lectus ut velit aliquam, vel dignissim leo euismod. Proin quis semper ligula. Vestibulum rutrum quam vitae tincidunt congue. Cras lacinia ex et ultrices tempor. Suspendisse at mi varius, viverra nunc at, iaculis tellus."' />
            <div class="event-card-local-date">
                <div class="event-card-date-hour">
                    <IconText icon='calendar-day' :text='item ? getDate : "20/02/2020"' />
                    <IconText icon='clock' :text='item ? getTime : "10:00"' />
                </div>
                <IconText icon='map-marker-alt' :text='item ? item.local : "Some Location Around the World"' />
            </div>
        </div>
    </div>
</template>

<script>
    import IconText from '../atoms/IconText';
    import EllipsisText from '../atoms/EllipsisText';

    export default {
        name: 'EventCard',
        components: { IconText, EllipsisText },
        props: ['item'],
        computed: {
            getTime() {
                return `${this.item.eventHour}:${this.item.eventMinute}`;
            },
            getDate() {
                const eventDate = this.item.eventDate;
                const day = eventDate.substr(8, 2);
                const month = eventDate.substr(5, 2);
                const year = eventDate.substr(0, 4);
                return `${day}/${month}/${year}`;
            }
        },
        methods: {
            eventClicked() {
                this.$emit('eventClick');
            }
        }
    }
</script>

<style>
    .event-card {
        display: flex;

        width: 900px;
        height: 300px;
        overflow: hidden;

        border-radius: 20px;
        box-shadow: 1px 1px 5px #0005;
        background-color: #fff;

        transition: all 0.5s;
    }

    .event-card:hover {
        cursor: pointer;
        transform: translateX(20px);
        background-color: #f4f4f4;
    }

    .event-card:active {
        transform: translateX(10px);
        background-color: #e2e2e2;
    }

    .event-card .icon-text {
        color: #4788dd;
        font-size: 1.0rem;
        pointer-events: none;
    }

    .event-card-info .icon-text:nth-child(4) {
        font-size: 1.1rem;
        align-self: flex-start;
        margin-left: 20px;
    }

    .event-card-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
    }

    .event-card-title {
        padding: 2px 10px;
        width: 90%;
        margin-top: 10px;

        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;

        background-color: #4788dd;
        border-radius: 10px;
    }

    .event-card-local-date {
        width: 100%;
        margin-left: 40px;
        position: absolute;
        bottom: 5px;
    }

    .event-card-date-hour {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;

        width: 200px;
    }

    .event-card-info .ellipsis-text {
        font-size: 1.1rem;
        color: #555;

        margin: 15px 20px;
        height: 130px;

        align-self: flex-start;
    }

    .event-card-image {
        flex: 0.55;
        position: relative;
    }

    .event-card-image img {
        position: absolute;
        top: 0;

        height: 100%;
        width: 100%;
        object-fit: cover;

        transition: all 0.5s;
    }

    @media(max-width: 1000px) {
        .event-card {
            width: 450px;
            position: relative;
        }

        .event-card-image {
            flex: none;
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        .event-card-info {
            z-index: 5;
            background-color: #0008;
        }

        .event-card .icon-text {
            color: #fff;
        }

        .event-card .ellipsis-text {
            display: none;
        }

        .event-card-title {
            flex: 0.9;
            margin-bottom: 50px;

            font-size: 1.8rem;
            background-color: transparent;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
</style>
