<template>
    <footer class="footer">
        <FooterText text='Developed by ' name='Michell' email='michell.algarra@gmail.com' />
    </footer>
</template>

<script>
    import FooterText from '../atoms/FooterText';

    export default {
        name: "Footer",
        components: { FooterText }
    }
</script>

<style>
    .footer {
        z-index: 1;
        grid-area: footer;
        background-color: #4788dd;
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .footer-text > a {
        text-decoration: none;
    }

    .name {
        color: #3df2ff;
        text-decoration: none;

        transition: all 0.5s;
    }

    .name:hover {
        color: #fff;
        text-shadow: 0 0 8px #00ffff, 0 0 16px #5dd6e6;
    }
</style>
