<template>
    <header class="header">
        <v-col cols="1" v-if="!onlyHeaderTitle">
            <MenuToggleButton @menuToggleClicked="toggleMenu(); hide()" />
        </v-col>
        <v-col :cols="titleCols">
            <HeaderTitle title="Full-Stack Project" url='/' />
        </v-col>
        <div class="header-user-dropdown">
            <v-col cols="2" v-if="!onlyHeaderTitle">
                <UserDropdown />
            </v-col>
        </div>
    </header>
</template>

<script>
    import MenuToggleButton from '../atoms/MenuToggleButton';
    import HeaderTitle from '../atoms/HeaderTitle';
    import UserDropdown from '../molecules/UserDropdown';

    export default {
        name: 'Header',
        components: { MenuToggleButton, HeaderTitle, UserDropdown },
        computed: {
            onlyHeaderTitle() {
                return this.$store.state.isAuthScreen;
            },
            titleCols() {
                return this.$store.state.isAuthScreen ? 12 : 9;
            }
        },
        methods: {
            toggleMenu() {
                this.$store.commit('toggleMenu');
            },
            hide() {
                this.$store.commit('userMenu', false);
            }
        }
    }
</script>

<style>
    .header {
        grid-area: header;
        background-color: #f9f9f9;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        width: 110.95%;
    }

    .header-title {
        width: 100%;
    }

    .header-user-dropdown {
        width: 100%;
        height: 80px;
        padding-right: 5px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .header-user-dropdown .user-dropdown-content {
        position: absolute;
        top: 80px;
        right: 0;
    }
</style>
