<template>
    <div class="item-list">
        <ul>
            <li v-for="item in items" :key="item.id">
                <ListItem v-if="condition(item)" :item="item" @itemClick="getThisItem(item)"/>
            </li>
        </ul>
    </div>
</template>

<script>
    import ListItem from '../molecules/ListItem';

    export default {
        name: 'ItemList',
        props: ['items'],
        components: { ListItem },
        methods: {
            condition(item) {
                if(item.eventDate) {
                    return item.visibility;
                }
                return true;
            },
            getThisItem(item) {
                const id = item.id;
                const categoryId = item.category.toLowerCase();
                if(item.eventDate) {
                    return this.$router.push(`/events/${categoryId}/${id}`);
                }
                this.$router.push(`/news/${categoryId}/${id}`);
            }
        }
    }
</script>

<style>
    .item-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .item-list .list-item {
        background-color: #fff;
        box-shadow: 0 0 1px #0005, 0 0 3px #0003;

        transition: all 0.5s;
    }

    .item-list .list-item:hover {
        background-color: #f2f2f2;
        box-shadow: 0 0 1px #0005, 0 0 6px #0003;
        height: 120px;
        transform: translateY(-8px);
    }

    .item-list .list-item:active {
        margin-right: 0%;
        transform: translateY(-3px);
    }

    @media(min-width: 1000px) {
        .item-list .list-item {
            margin-right: 10%;
            margin-left: 10%;
        }

        .item-list .list-item:active {
            margin-right: 10%;
        }
    }
</style>
