<template>
    <div class="main-event" @click="eventClicked()">
        <div class="main-event-info">
            <div class="main-event-title">{{ item ? item.title : 'Some Title of Some Event' }}</div>
            <EllipsisText :lineClamp='9' :text='item ? item.content : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget vestibulum nisi. Vestibulum et rhoncus purus. Ut nibh diam, lobortis iaculis dignissim sit amet, hendrerit ac nunc. Praesent venenatis lobortis sagittis. Vivamus at turpis turpis. Suspendisse ullamcorper lectus ut velit aliquam, vel dignissim leo euismod. Proin quis semper ligula. Vestibulum rutrum quam vitae tincidunt congue. Cras lacinia ex et ultrices tempor. Suspendisse at mi varius, viverra nunc at, iaculis tellus."' />
            <div class="main-event-date-hour">
                <IconText icon='calendar-day' :text='item ? getDate : "20/02/2020"' />
                <IconText icon='clock' :text='item ? getTime : "10:00"' />
            </div>
            <IconText icon='map-marker-alt' :text='item ? item.local : "Some Location Around the World"' />
        </div>
        <div class="main-event-image">
            <div class="image-back-panel"></div>
            <img :src="item ? item.img : require('@/assets/placeholder-image.jpg')" alt="image">
        </div>
    </div>
</template>

<script>
    import IconText from '../atoms/IconText';
    import EllipsisText from '../atoms/EllipsisText';

    export default {
        name: 'MainEvent',
        components: { IconText, EllipsisText },
        props: ['item'],
        computed: {
            getTime() {
                return `${this.item.eventHour}:${this.item.eventMinute}`;
            },
            getDate() {
                const eventDate = this.item.eventDate;
                const day = eventDate.substr(8, 2);
                const month = eventDate.substr(5, 2);
                const year = eventDate.substr(0, 4);
                return `${day}/${month}/${year}`;
            }
        },
        methods: {
            eventClicked() {
                this.$emit('eventClick');
            }
        }
    }
</script>

<style>
    .main-event {
        display: flex;
        justify-content: space-between;

        width: 1200px;
        height: 500px;
        padding: 30px;

        border-radius: 20px;
        box-shadow: 1px 1px 5px #0005;
        background-color: #fff;

        transition: all 0.5s;
    }

    .main-event:hover {
        cursor: pointer;
    }

    .main-event .icon-text {
        color: #4788dd;
        font-size: 1.0rem;
        pointer-events: none;
    }

    .main-event-info .icon-text:nth-child(4) {
        font-size: 1.1rem;
        align-self: flex-start;
        margin-left: 20px;
    }

    .main-event-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-event-title {
        padding: 2px 10px;
        width: 90%;
        margin-top: 30px;

        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        color: #fff;

        background-color: #4788dd;
        border-radius: 10px;
    }

    .main-event-date-hour {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        margin-left: 20px;

        width: 200px;
    }

    .main-event-info .ellipsis-text {
        font-size: 1.2rem;
        color: #555;
        margin: 30px 20px;

        height: 250px;

        align-self: flex-start;
    }

    .main-event-image {
        flex: 1;
        margin: 40px 0 40px 30px;

        position: relative;
    }

    .image-back-panel {
        height: 90%;
        width: 90%;
        background-color: #4788dd;

        transform: translate(30px, 30px);
        transition: all 0.5s;
    }

    .main-event-image img {
        position: absolute;
        top: 0;

        height: 90%;
        width: 90%;
        object-fit: cover;

        box-shadow: 2px 2px 5px #0008;
        transform: translate(0px, 0px);
        transition: all 0.5s;
    }

    .main-event-image img:hover {
        transform: translate(15px, 15px);
    }

    @media(max-width: 1220px) {
        .main-event {
            width: 90%;
        }
    }

    @media(max-width: 1110px) {
        .main-event {
            width: 90%;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 0;
            overflow: hidden;
        }

        .main-event-info {
            display: flex;
            flex: none;
            flex-direction: column;
            align-items: center;

            z-index: 5;
            height: 100%;
            padding: 20px 30px;

            background-color: #0008;
        }

        .main-event-info .ellipsis-text {
            color: #fff;
        }

        .main-event .icon-text {
            color: #fff;
        }

        .main-event-image {
            flex: none;
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            margin: 0px;

        }

        .main-event-image img {
            position: absolute;
            top: 0;

            height: 100%;
            width: 100%;
            object-fit: cover;

            box-shadow: none;
            transform: translate(0px, 0px);
            transition: all 0.5s;
        }

        .image-back-panel {
            display: none;
        }
    }
</style>
