<template>
    <v-navigation-drawer style="overflow-y: hidden }"
        :value="isMenuVisible"
        v-click-outside="hide"
        absolute color="#555"
        src="@/assets/menu-grey-scale.png"
        temporary :style="{ 'opacity': 0.92 }">

        <v-list dark>
            <v-list-item link to="/" @click="hide">
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                        Home
                </v-list-item-title>
            </v-list-item>
            <!-- <div class="divider"></div> -->
            <CustomDivider />
            <v-list-group prepend-icon="mdi-newspaper"
                :value="treeActive">
                <template v-slot:activator>
                    <v-list-item-title>News</v-list-item-title>
                </template>
                <v-list-group no-action sub-group
                    :value="treeActive">
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title >Categories</v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item active-class="category-active" v-for="(category, i) in newsCategories"
                        :key="i" link :to="`/news/${category.toLowerCase()}`" @click="hide">
                        <v-list-item-title v-text="category"></v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list-group>

            <v-list-group prepend-icon="mdi-calendar"
                :value="treeActive">
                <template v-slot:activator>
                    <v-list-item-title>Events</v-list-item-title>
                </template>
                <v-list-group no-action sub-group
                    :value="treeActive">
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title>Categories</v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item active-class="category-active" v-for="(category, i) in eventCategories"
                        :key="i" link :to="`/events/${category.toLowerCase()}`" @click="hide">
                        <v-list-item-title v-text="category"></v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import { mapState } from "vuex";
    import ClickOutside from "vue-click-outside";
    import CustomDivider from '../atoms/CustomDivider';

    export default {
        name: "Menu",
        directives: { ClickOutside },
        components: { CustomDivider },
        computed: {
            ...mapState(['isMenuVisible', 'categoriesData']),
            categories() {
                return this.$store.getters.getData('categories');
            },
            newsCategories() {
                const categories = this.categories;
                if(categories.length) {
                    return this.getFilteredCategories(categories, 'News');
                }
                return [];
            },
            eventCategories() {
                const categories = this.categories;
                if(categories.length) {
                    return this.getFilteredCategories(categories, 'Events');
                }
                return [];
            }
        },
        data() {
            return {
                items: [
                    { title: "Home", icon: "home" },
                    { title: "About", icon: "user" }
                ],
                treeActive: false
            }
        },
        methods: {
            hide() {
                this.$store.commit('toggleMenu', false);
            },
            getFilteredCategories(categories, type) {
                return categories
                    .filter(c => c.type === type || c.type === 'Both')
                    .map(c => c.title)
                    .sort((c1, c2) => c1 < c2 ? -1 : 1);
            }
        },
        created() {
            if(this.$store.state.categoriesData.length <= 1) {
                this.$store.dispatch('setStateData', 'categories');
            }
        },
        mounted() {
            this.popupItem = this.$el;
        },
        watch: {
            $route() {
                if(this.$store.state.categoriesData.length === 0) {
                    this.$store.dispatch('setStateData', 'categories');
                }
            },
            categories() {
                if(this.$store.state.categoriesData.length === 0) {
                    this.$store.dispatch('setStateData', 'categories');
                }
            }
        }
    }
</script>

<style>
    .v-navigation-drawer__content {
        margin-top: 80px;
    }

    .v-navigation-drawer__content .v-list .primary--text {
        color: #fff !important;
        caret-color: #fff !important;
    }

    .v-navigation-drawer__content .v-list-item__icon {
        color: #fff;
    }

    .v-navigation-drawer__content .v-list-item__title {
        color: #fff;
    }

    .v-navigation-drawer > ::-webkit-scrollbar-track {
        background: #fff0;
    }

    .v-navigation-drawer > ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
    }

    .v-navigation-drawer > ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    .category-active {
        background-color: #f880;
    }

    .v-navigation-drawer .custom-divider {
        margin: 1px 0;
        margin-left: 3%;
        height: 1px;
        width: 94%;
        background: #ddf9;
    }
</style>
