<template>
    <div class='slider-component'>
        <v-card width="100%" height="100%" class="mx-auto">
            <Carousel :items='getItems' @slideChange='slide($event)' @carouselClick='pushUrl()' />
            <TagDateText :tag='getCategory' :date='getDate' :text='getText'
                :lineClamp='5' @tagDateTextClick="pushUrl()"/>
        </v-card>
    </div>
</template>

<script>
    import Carousel from '../atoms/Carousel';
    import TagDateText from '../molecules/TagDateText';

    export default {
        name: 'Slider',
        components: { Carousel, TagDateText },
        props: ['url', 'items'],
        computed: {
            getItems() {
                const items = this.items;
                return items.length ? this.items : this.defaultSliderItem;
            },
            getCategory() {
                const items = this.items;
                return items.length ? this.items[this.currentSlide].category : 'Category';
            },
            getDate() {
                const items = this.items;
                return items.length ? this.items[this.currentSlide].date : '';
            },
            getText() {
                const items = this.items;
                return items.length ? this.items[this.currentSlide].title : 'Title';
            }
        },
        data() {
            return {
                currentSlide: 0,
                defaultSliderItem: [ { id: 1 } ]
            }
        },
        methods: {
            slide(slide) {
                this.currentSlide = slide;
            },
            pushUrl() {
                if(this.items.length) {
                    const id = this.items[this.currentSlide].id;
                    const category = this.items[this.currentSlide].category.toLowerCase();
                    this.$router.push(`${this.url}/${category}/${id}`);
                }
            }
        }
    }
</script>

<style>
    .slider-component {
        width: 500px;
        height: 491px;
        margin: 0 15px 20px 15px;
        border-radius: 10px;
        box-shadow: 1px 2px 5px rgba(80, 80, 80, 0.5);
        overflow: hidden;
        cursor: pointer;
    }
</style>
