<template>
    <div class="vertical-card">
        <v-card width="400" height="491" @click="cardClicked()">
            <div class="vertical-card-img">
                <img :src="image" />
            </div>
            <TagDateText :tag='item ? item.category : "Category"'
                :date='item ? item.date : ""'
                :text='item ? item.title : "Title"' :lineClamp='7' />
        </v-card>
    </div>
</template>

<script>
    import TagDateText from '../molecules/TagDateText';

    export default {
        name: 'VerticalCard',
        components: { TagDateText },
        props: ['item'],
        computed: {
            image() {
                const img = this.item ? this.item.img : '';
                return img || require("@/assets/placeholder-image.jpg");
            }
        },
        methods: {
            cardClicked() {
                this.$emit('cardClick');
            }
        }
    }
</script>

<style>
    .vertical-card {
        width: 400px;
        height: 491px;
        margin: 0 15px 20px 15px;
        border-radius: 10px;
        box-shadow: 1px 2px 5px rgba(80, 80, 80, 0.5);
        overflow: hidden;
        cursor: pointer;
    }

    .vertical-card-img {
        display: flex;
        justify-content: center;
    }

    .vertical-card-img img {
        height: 282px;
    }
</style>
