<template>
    <v-app>
        <v-main>
            <Header title="Full-Stack Project" />
            <Menu />
            <Content />
            <Footer />
        </v-main>
    </v-app>
</template>

<script>
    import Header from "./components/organisms/Header";
    import Menu from "./components/organisms/Menu";
    import Content from "./components/organisms/Content";
    import Footer from "./components/organisms/Footer";

    export default {
        name: "App",
        components: { Header, Menu, Content, Footer }
    };
</script>

<style>
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #aaa;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    hr {
        margin-top: 30px;
        border: 0;
        margin: 25px 1%;
        width: 98%;
        height: 1px;

        background: linear-gradient(to right,
            rgba(120, 120, 120, 0),
            rgba(120, 120, 120, 0.3),
            rgba(120, 120, 120, 0.75),
            rgba(120, 120, 120, 0.3),
            rgba(120, 120, 120, 0)
        );
    }


	html {
        overflow-y: hidden;
    }

    * {
        font-family: "Roboto", sans-serif;
    }

    body {
		margin: 0;
	}

	.v-main__wrap {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		height: 100vh;
		display: grid;
		grid-template-rows: 80px 1fr 40px;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"content"
			"footer";
	}
</style>
